/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	width: pxtorem(1);
	height: pxtorem(1);
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	word-break: normal;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background: cssvar(color-bg);
	border: pxtorem(3) solid cssvar(color-border);
	box-shadow: 0 0 pxtorem(2) pxtorem(2) cssvar(color-shadow-light);
	color: cssvar(color-primary);
	font-size: cssvar(font-size-md);
	font-weight: 600;
	display: block;
	clip: auto !important;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	padding: cssvar(spacing-sm) cssvar(spacing-md);
	z-index: 100000; /* Above WP toolbar. */
}

@include reduced-motion("reduce") {
	* {
		transition: none !important;
	}
}
