//==============================================================================
// Theme Information
//==============================================================================
$theme_name: "ArmandPhilippot-Com";
$theme_uri: "https://github.com/ArmandPhilippot/armandphilippot.com";
$theme_description: "A WordPress theme for my personal website.";
$theme_version: "0.0.1";
$theme_author: "Armand Philippot <contact@armandphilippot.com>";
$theme_author-uri: "https://www.armandphilippot.com/";
$theme_license: "GNU General Public License v2 or later";
$theme_license-uri: "http://www.gnu.org/licenses/gpl-2.0.html";
$theme_domain: "APCom";
$theme_domain-path: "/languages/";
$theme_tags: "editor-style, translation-ready";
