//==============================================================================
// Theme Information
//==============================================================================
$theme_name: "ArmandPhilippot-com";
$theme_uri: "https://github.com/ArmandPhilippot/armandphilippot.com";
$theme_description: "A WordPress theme for my personal website.";
$theme_version: "0.0.1";
$theme_wordpress_compatibility: "5.2";
$theme_author: "Armand Philippot <contact@armandphilippot.com>";
$theme_author-uri: "https://www.armandphilippot.com/";
$theme_license: "GNU General Public License v2 or later";
$theme_license-uri: "http://www.gnu.org/licenses/gpl-2.0.html";
$theme_domain: "APCom";
$theme_domain-path: "/languages/";
$theme_tags: "editor-style, translation-ready";

//=============================================================================
// Globals
//=============================================================================
$golden-number: 1.618;
$ratio: 1.2;
$breakpoints: (
	"xs": pxToEm(568),
	"sm": pxToEm(768),
	"md": pxToEm(1024),
	"lg": pxToEm(1280),
	"xl": pxToEm(1600),
	"2xl": pxToEm(1920),
);

//=============================================================================
// Fonts
//=============================================================================
$font-family_primary: (Arial, "Liberation Sans", sans-serif);
$font-family_secondary: ("Kanit", Arial, "Liberation Sans", sans-serif);
$font-family_mono: ("Courier New", Courier, monospace);

$line-height: $golden-number;

$font-size_base: 16px;
$font-size_base-rem: pxToRem(16);

$font-size_sm: $font-size_base-rem * pow($ratio, -1);
$font-size_md: $font-size_base-rem * pow($ratio, 0);
$font-size_lg: $font-size_base-rem * pow($ratio, 1);
$font-size_xl: $font-size_base-rem * pow($ratio, 2);
$font-size_2xl: $font-size_base-rem * pow($ratio, 3);
$font-size_3xl: $font-size_base-rem * pow($ratio, 4);
$font-size_4xl: $font-size_base-rem * pow($ratio, 5);

//==============================================================================
// Spacings
//==============================================================================
$spacing_base: $golden-number * 1rem;

$spacing_3xs: $spacing_base / 5;
$spacing_2xs: $spacing_base / 4;
$spacing_xs: $spacing_base / 3;
$spacing_sm: $spacing_base / 2;
$spacing_md: $spacing_base;
$spacing_lg: $spacing_base * 1.5;
$spacing_xl: $spacing_base * 2;
$spacing_2xl: $spacing_base * 2.5;
$spacing_3xl: $spacing_base * 3;
$spacing_4xl: $spacing_base * 4;
$spacing_5xl: $spacing_base * 5;

//==============================================================================
// Colors
//==============================================================================
$color_black-squeeze: hsl(212, 55%, 97%);
$color_catskill-white: hsl(212, 53%, 92%);
$color_link-water: hsl(212, 51%, 87%);
$color_geyser: hsl(212, 27%, 83%);
$color_gull-gray: hsl(212, 15%, 66%);
$color_pale-sky: hsl(212, 13%, 46%);
$color_fiord: hsl(212, 29%, 35%);
$color_cello: hsl(212, 49%, 24%);
$color_rhino: hsl(212, 33%, 28%);
$color_nile-blue: hsl(212, 47%, 19%);
$color_cloud-burst: hsl(211, 36%, 12%);
$color_mirage: hsl(212, 33%, 10%);
$color_big-stone: hsl(212, 45%, 14%);
$color_chambray: hsl(212, 45%, 40%);
$color_chathams-blue: hsl(212, 65%, 28%);
$color_chathams-blue-light: hsl(212, 90%, 30%);
$color_chathams-blue-light-opacity-25: hsla(212, 90%, 30%, 0.25);
$color_chathams-blue-dark: hsl(212, 70%, 25%);
$color_russet: hsl(23, 65%, 31%);
$color_glacier: hsl(212, 47%, 63%);
$color_tropical-blue: hsl(212, 75%, 84%);
$color_tropical-blue-light: hsl(212, 82%, 87%);
$color_tropical-blue-light-opacity-25: hsla(212, 82%, 87%, 0.25);
$color_tropical-blue-dark: hsl(212, 85%, 81%);
$color_peach: hsl(37, 100%, 86%);

$color_light-theme_red: hsl(0, 87%, 31%);
$color_light-theme_green: hsl(126, 91%, 18%);
$color_light-theme_purple: hsl(271, 87%, 34%);
$color_light-theme_magenta: hsl(303, 93%, 28%);
$color_light-theme_yellow: hsl(53, 91%, 17%);
$color_light-theme_cyan: hsl(186, 90%, 19%);
$color_light-theme_blue: hsl(202, 92%, 24%);
$color_light-theme_grey: hsl(211, 22%, 31%);
$color_light-theme_orange: hsl(28, 87%, 25%);

$color_dark-theme_red: hsl(1, 98%, 82%);
$color_dark-theme_green: hsl(110, 57%, 68%);
$color_dark-theme_purple: hsl(271, 98%, 83%);
$color_dark-theme_magenta: hsl(303, 94%, 80%);
$color_dark-theme_yellow: hsl(57, 64%, 63%);
$color_dark-theme_cyan: hsl(186, 54%, 66%);
$color_dark-theme_blue: hsl(202, 83%, 73%);
$color_dark-theme_grey: hsl(211, 24%, 76%);
$color_dark-theme_orange: hsl(30, 92%, 70%);
