//==============================================================================
// Theme Information
//==============================================================================
$theme_name: "ArmandPhilippot-com";
$theme_uri: "https://github.com/ArmandPhilippot/armandphilippot.com";
$theme_description: "A WordPress theme for my personal website.";
$theme_version: "1.0.10";
$theme_wordpress_compatibility: "5.2";
$theme_author: "Armand Philippot <contact@armandphilippot.com>";
$theme_author-uri: "https://www.armandphilippot.com/";
$theme_license: "GNU General Public License v2 or later";
$theme_license-uri: "http://www.gnu.org/licenses/gpl-2.0.html";
$theme_domain: "APCom";
$theme_domain-path: "/languages/";
$theme_tags: "editor-style, translation-ready";

//=============================================================================
// Globals
//=============================================================================
$golden-number: 1.618;
$ratio: 1.2;
$breakpoints: (
	"xs": pxtoem(568),
	"sm": pxtoem(768),
	"md": pxtoem(1024),
	"lg": pxtoem(1280),
	"xl": pxtoem(1600),
	"2xl": pxtoem(1920),
);

//=============================================================================
// Fonts
//=============================================================================
/* stylelint-disable -- Fonts name are not keywords, lowercase is not needed. */
$font-family_primary: ("Inter", "Liberation Sans", Arial, sans-serif);
$font-family_secondary: ("Kanit", "Liberation Sans", Arial, sans-serif);
$font-family_mono: (
	"Cousine",
	"Liberation Mono",
	"DejaVu Sans Mono",
	"Courier New",
	monospace
);
/* stylelint-enable */

$line-height: $golden-number;

$font-size_base: 16px;
$font-size_base-rem: pxtorem(16);

$font-size_sm: $font-size_base-rem * pow($ratio, -1);
$font-size_md: $font-size_base-rem * pow($ratio, 0);
$font-size_lg: $font-size_base-rem * pow($ratio, 1);
$font-size_xl: $font-size_base-rem * pow($ratio, 2);
$font-size_2xl: $font-size_base-rem * pow($ratio, 3);
$font-size_3xl: $font-size_base-rem * pow($ratio, 4);
$font-size_4xl: $font-size_base-rem * pow($ratio, 5);

//==============================================================================
// Spacings
//==============================================================================
$spacing_base: $golden-number * 1rem;

$spacing_3xs: $spacing_base / 5;
$spacing_2xs: $spacing_base / 4;
$spacing_xs: $spacing_base / 3;
$spacing_sm: $spacing_base / 2;
$spacing_md: $spacing_base;
$spacing_lg: $spacing_base * 1.5;
$spacing_xl: $spacing_base * 2;
$spacing_2xl: $spacing_base * 2.5;
$spacing_3xl: $spacing_base * 3;
$spacing_4xl: $spacing_base * 4;
$spacing_5xl: $spacing_base * 5;

//==============================================================================
// Colors
//==============================================================================
$color_black-squeeze: hsl(212, 55%, 97%);
$color_catskill-white: hsl(212, 53%, 92%);
$color_link-water: hsl(212, 51%, 87%);
$color_geyser: hsl(212, 27%, 83%);
$color_gull-gray: hsl(212, 15%, 66%);
// Used by header shape. HSLA not working inside SVG.
$color_gull-gray-opacity: #9ba7b58a;
$color_pale-sky: hsl(212, 13%, 46%);
$color_fiord: hsl(212, 29%, 35%);
$color_rhino: hsl(212, 33%, 28%);
$color_cloud-burst: hsl(211, 36%, 12%);
$color_mirage: hsl(211, 36%, 14%);
$color_nile-blue: hsl(212, 47%, 19%);
$color_big-stone: hsl(212, 45%, 15%);
$color_firefly: hsl(212, 45%, 11%);
$color_chambray: hsl(212, 45%, 40%);
$color_chathams-blue: hsl(212, 65%, 28%);
$color_chathams-blue-light: hsl(212, 90%, 30%);
$color_chathams-blue-light-opacity-25: hsla(212, 90%, 30%, 0.25);
$color_chathams-blue-dark: hsl(212, 70%, 25%);
$color_russet: hsl(23, 65%, 31%);
$color_horizon: hsl(213, 30%, 54%);
$color_kashmir-blue: hsl(212, 30%, 46%);
$color_spindle: hsl(212, 56%, 75%);
$color_spindle-light: hsl(212, 52%, 78%);
$color_spindle-light-opacity-35: hsla(212, 52%, 78%, 0.35);
$color_spindle-dark: hsl(213, 60%, 72%);
$color_brandy: hsl(37, 51%, 74%);

$color_light-theme_red: hsl(0, 87%, 31%);
$color_light-theme_green: hsl(126, 91%, 18%);
$color_light-theme_purple: hsl(271, 87%, 34%);
$color_light-theme_magenta: hsl(303, 93%, 28%);
$color_light-theme_yellow: hsl(53, 91%, 17%);
$color_light-theme_cyan: hsl(186, 90%, 19%);
$color_light-theme_blue: hsl(202, 92%, 24%);
$color_light-theme_grey: hsl(211, 22%, 31%);
$color_light-theme_orange: hsl(28, 87%, 25%);

$color_dark-theme_red: hsl(2, 65%, 78%);
$color_dark-theme_green: hsl(110, 45%, 68%);
$color_dark-theme_purple: hsl(272, 71%, 80%);
$color_dark-theme_magenta: hsl(303, 70%, 79%);
$color_dark-theme_yellow: hsl(56, 50%, 65%);
$color_dark-theme_cyan: hsl(185, 48%, 68%);
$color_dark-theme_blue: hsl(202, 69%, 72%);
$color_dark-theme_grey: hsl(211, 24%, 76%);
$color_dark-theme_orange: hsl(30, 70%, 70%);
