@mixin buttonBase {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
	cursor: pointer;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease-in-out 0s;

	&:focus {
		outline: none;
	}
}

@mixin buttonStyle1 {
	display: flex;
	background: linear-gradient(
			to left,
			cssvar(color-primary) 0 33.3%,
			cssvar(color-primary-light) 33.3% 66.6%,
			cssvar(color-primary-dark) 66.6% 100%
		)
		100% 0 / 300% 100% no-repeat;
	border: none;
	border-radius: pxtorem(6);
	color: cssvar(color-fg-inverted);
	font-variant: small-caps;
	box-shadow: 0 0 0 pxtorem(2) cssvar(color-primary),
		pxtorem(2) pxtorem(2) 0 pxtorem(2) cssvar(color-shadow),
		pxtorem(3) pxtorem(3) pxtorem(3) pxtorem(2) cssvar(color-shadow-darker),
		inset 0 0 0 pxtorem(2) cssvar(color-shadow-lighter),
		inset 0 pxtorem(-10) pxtorem(16) pxtorem(6) rgba(0, 0, 0, 0.13),
		inset 0 pxtorem(9) pxtorem(32) pxtorem(4) rgba(255, 255, 255, 0.13);
	padding: pxtorem(20) cssvar(spacing-md);
	transform: skewX(-15deg);

	&:hover,
	&:focus {
		background-position: 50% 0;
		padding: pxtorem(20) calc(#{cssvar(spacing-md)} + #{pxtorem(4)});
		transform: skewX(0deg);

		span {
			transform: skewX(0deg) scale(1.05);
		}
	}

	&:hover {
		box-shadow: 0 0 0 pxtorem(2) cssvar(color-primary-light),
			pxtorem(2) pxtorem(2) 0 0 cssvar(color-primary),
			pxtorem(3) pxtorem(3) pxtorem(3) pxtorem(2)
				cssvar(color-shadow-darker),
			inset 0 0 0 pxtorem(2) cssvar(color-shadow-lighter),
			inset 0 pxtorem(-10) pxtorem(16) pxtorem(6) rgba(0, 0, 0, 0.13),
			inset 0 pxtorem(9) pxtorem(32) pxtorem(4) rgba(255, 255, 255, 0.13);
	}

	&:focus {
		box-shadow: 0 0 0 pxtorem(2) cssvar(color-primary-light),
			pxtorem(2) pxtorem(2) 0 0 cssvar(color-primary),
			pxtorem(3) pxtorem(3) pxtorem(3) pxtorem(2)
				cssvar(color-shadow-darker),
			pxtorem(1) pxtorem(1) 0 pxtorem(8)
				cssvar(color-primary-light-opacity),
			inset 0 0 0 pxtorem(2) cssvar(color-shadow-lighter),
			inset 0 pxtorem(-10) pxtorem(16) pxtorem(6) rgba(0, 0, 0, 0.13),
			inset 0 pxtorem(9) pxtorem(32) pxtorem(4) rgba(255, 255, 255, 0.13);
	}

	&:active {
		background-position: 0 0;
		box-shadow: 0 0 0 pxtorem(2) cssvar(color-primary-dark),
			pxtorem(1) pxtorem(1) 0 pxtorem(1) cssvar(color-shadow),
			0 0 0 0 cssvar(color-shadow-darker),
			inset 0 0 0 pxtorem(2) cssvar(color-shadow-lighter),
			inset 0 pxtorem(-10) pxtorem(16) pxtorem(6) rgba(0, 0, 0, 0.13),
			inset 0 pxtorem(9) pxtorem(32) pxtorem(4) rgba(255, 255, 255, 0.13);
		padding: pxtorem(20) cssvar(spacing-sm);
		transform: skewX(0deg) translateX(#{pxtorem(3)})
			translateY(#{pxtorem(3)});

		span {
			transform: skewX(0deg) scale(1);
		}
	}

	@include pointer("fine") {
		padding: cssvar(spacing-sm) cssvar(spacing-md);

		&:hover,
		&:focus {
			padding: cssvar(spacing-sm)
				calc(#{cssvar(spacing-md)} + #{pxtorem(4)});
		}

		&:active {
			padding: cssvar(spacing-sm);
		}
	}

	span {
		transform: skewX(15deg);
		transition: all 0.3s ease-in-out 0s;
	}
}

@mixin buttonStyle2 {
	background: cssvar(color-bg);
	border: pxtorem(2) solid cssvar(color-primary);
	box-shadow: pxtorem(4) pxtorem(4) 0 0 cssvar(color-shadow);
	padding: cssvar(spacing-sm) pxtorem(20);

	@include pointer("fine") {
		padding: cssvar(spacing-xs) cssvar(spacing-sm);
	}

	&:hover,
	&:focus {
		color: cssvar(color-primary-light);
		border-color: cssvar(color-primary-light);
		box-shadow: pxtorem(7) pxtorem(7) 0 0 cssvar(color-shadow);
		transform: translateX(#{pxtorem(-3)}) translateY(#{pxtorem(-3)});
	}

	&:focus {
		text-decoration: underline;
	}

	&:active {
		border-color: cssvar(color-primary-dark);
		box-shadow: 0 0 0 0 cssvar(color-shadow);
		color: cssvar(color-primary-dark);
		text-decoration: none;
		transform: translateX(#{pxtorem(4)}) translateY(#{pxtorem(4)});
	}
}

@mixin buttonStyle3 {
	justify-content: center;
	background: linear-gradient(
			to bottom,
			cssvar(color-primary) 0 33.33%,
			cssvar(color-primary-light) 33.33% 66.66%,
			cssvar(color-primary-dark) 66.66% 100%
		)
		0 0 / 100% 300% no-repeat;
	border: pxtorem(2) solid cssvar(color-border-light);
	border-radius: 50%;
	box-shadow: 0 0 0 pxtorem(2) cssvar(color-primary),
		0 pxtorem(2) 0 pxtorem(2) cssvar(color-shadow),
		0 pxtorem(2) pxtorem(2) pxtorem(3) cssvar(color-shadow-light);

	&:hover,
	&:focus {
		background-position: 0 50%;
		box-shadow: 0 0 0 pxtorem(2) cssvar(color-primary-light),
			0 pxtorem(3) 0 pxtorem(2) cssvar(color-shadow),
			0 pxtorem(2) pxtorem(2) pxtorem(3) cssvar(color-shadow-light);
		transform: translateY(#{pxtorem(-1)});

		svg {
			animation: pulse 1.2s;
			animation-iteration-count: infinite;
		}
	}

	&:focus {
		box-shadow: 0 0 0 pxtorem(2) cssvar(color-primary-light),
			0 pxtorem(3) 0 pxtorem(2) cssvar(color-shadow),
			0 pxtorem(2) pxtorem(2) pxtorem(3) cssvar(color-shadow-light),
			0 pxtorem(1) 0 pxtorem(7) cssvar(color-primary-light-opacity);
	}

	&:active {
		background-position: 0 100%;
		box-shadow: 0 0 0 pxtorem(2) cssvar(color-primary),
			0 0 0 pxtorem(2) cssvar(color-shadow-darker),
			0 pxtorem(1) pxtorem(2) pxtorem(3) cssvar(color-shadow-light);
		transform: translateY(#{pxtorem(2)});

		svg {
			animation: unset;
		}
	}
}
