@use "../abstracts/functions" as fun;
@use "../abstracts/mixins" as mix;
@use "../abstracts/placeholders";

.pagination {
	margin: fun.get-var(spacing-sm) 0 0;

	&__list {
		@extend %flex-list;
	}

	&__item {
		display: flex;

		&:not(:first-child) {
			position: relative;
			margin-left: fun.convert-px(-2);
		}
	}

	& &__item {
		margin-bottom: fun.get-var(spacing-sm);
	}

	&__link {
		padding: fun.get-var(spacing-xs) fun.get-var(spacing-md);

		@include mix.media("screen") {
			@include mix.dimensions("lg") {
				padding: fun.get-var(spacing-2xs) fun.get-var(spacing-sm);
			}
		}

		&--current,
		&--dots {
			display: flex;
			align-items: center;
			background: fun.get-var(color-bg);
			border: fun.convert-px(2) solid fun.get-var(color-primary);
			font-weight: 600;
			transform: translateX(#{fun.convert-px(3)})
				translateY(#{fun.convert-px(4)});
		}
	}

	&__icon {
		fill: fun.get-var(color-primary);
		width: fun.convert-px(15);

		&--previous {
			margin-right: fun.get-var(spacing-xs);
			transform: rotate(180deg);
		}

		&--next {
			margin-left: fun.get-var(spacing-xs);
		}
	}
}
