@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.back-to-top {
	position: fixed;
	right: f.cssvar(spacing-sm);
	bottom: calc(
		#{f.pxtorem(60)} + #{f.cssvar(spacing-md)}
	); // main-nav height + spacing
	z-index: 2;

	@include m.media("screen") {
		@include m.dimensions("sm") {
			bottom: calc(
				#{f.pxtorem(70)} + #{f.cssvar(spacing-md)}
			); // main-nav height + spacing
		}

		@include m.dimensions("lg") {
			bottom: f.cssvar(spacing-sm);
		}
	}

	&__link {
		@include m.buttonBase;
		@include m.buttonStyle3;

		width: f.pxtorem(50);
		height: f.pxtorem(50);
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: f.pxtorem(30);
		transform: rotate(-90deg);

		svg {
			fill: f.cssvar(color-fg-inverted);
			width: 100%;
			height: 100%;
		}
	}
}
