.back-to-top {
	position: fixed;
	right: cssVar(spacing-sm);
	bottom: calc(
		#{pxToRem(60)} + #{cssVar(spacing-md)}
	); // main-nav height + spacing
	z-index: 2;

	@include media("screen") {
		@include dimensions("sm") {
			bottom: calc(
				#{pxToRem(70)} + #{cssVar(spacing-md)}
			); // main-nav height + spacing
		}

		@include dimensions("lg") {
			bottom: cssVar(spacing-sm);
		}
	}

	&__link {
		@include buttonBase;
		@include buttonStyle3;

		width: pxToRem(50);
		height: pxToRem(50);
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: pxToRem(30);
		transform: rotate(-90deg);

		svg {
			fill: cssVar(color-fg-inverted);
		}
	}
}
