.breadcrumb {
	background: cssVar(color-bg);
	padding: cssVar(spacing-2xl) 0 cssVar(spacing-xl);

	@include media("screen") {
		@include dimensions("sm") {
			padding: cssVar(spacing-3xl) 0 cssVar(spacing-xl);
		}
	}

	&__list {
		@include orderedListReset;

		display: inline-block;
		font-size: cssVar(font-size-sm);

		li {
			display: initial;
		}
	}

	&__item {
		&:not(:first-child) {
			&::before {
				display: inline-block;
				content: ">";
				margin-left: cssVar(spacing-xs);
			}
		}
	}

	&__link {
		display: inline-block;
	}
}
