.comments {
	&__feed {
		margin-bottom: 0;

		.feed__link {
			@include buttonBase;
			@include buttonStyle2;

			&::before {
				content: "";
				background: url("assets/images/feed.svg");
				background-repeat: no-repeat;
				background-size: 100%;
				width: pxtorem(30);
				height: pxtorem(30);
				margin-right: cssvar(spacing-sm);
			}
		}
	}
}

@import "comments/list";
@import "comments/form";
