@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.feed {
	&__link {
		@include m.buttonBase;
		@include m.buttonStyle2;

		&::before {
			content: "";
			background: url(../img/feed.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			width: f.pxtorem(25);
			height: f.pxtorem(25);
			margin-right: f.cssvar(spacing-xs);
		}
	}
}
