.feed {
	&__link {
		@include buttonBase;

		@include buttonStyle2;

		&::before {
			content: "";
			background: url(assets/images/feed.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			width: pxtorem(25);
			height: pxtorem(25);
			margin-right: cssvar(spacing-xs);
		}
	}
}
