@use "../abstracts/functions" as f;

.gallery {
	display: grid;
	grid-gap: f.cssvar(spacing-sm);

	@for $i from 2 through 9 {
		&.gallery-columns-#{$i} {
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}

	&-item {
		display: flex;
		flex-flow: column wrap;

		a {
			display: block;
			height: 100%;
			background: none;
		}

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	&-icon {
		flex: 1;
	}

	figure {
		margin-bottom: 0;
	}
}
