.meta {
	display: flex;
	flex-flow: row wrap;
	row-gap: cssVar(spacing-sm);
	justify-content: space-between;
	color: cssVar(color-fg-secondary);
	font-size: cssVar(font-size-sm);

	@include media("screen") {
		@include dimensions("xs") {
			justify-content: flex-start;
		}
	}

	&__item {
		flex: 0 0 46%;

		&:nth-child(2n) {
			margin-left: cssVar(spacing-sm);
		}

		&--has-icon {
			background: 0 #{pxToRem(12)} / #{pxToRem(22)} #{pxToRem(22)} no-repeat;

			.meta {
				&__term,
				&__description {
					padding-left: calc(
						#{pxToRem(22)} + #{cssVar(spacing-xs)}
					); // icon size + padding
				}

				&__theme--icon {
					padding-left: cssVar(spacing-xs);
				}
			}
		}

		@include media("screen") {
			@include dimensions("xs") {
				flex: initial;
				margin-right: cssVar(spacing-md);

				&:nth-child(2n) {
					margin-left: 0;
				}
			}
		}
	}

	&__articles {
		background-image: url(encodeSvg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><g fill="#{$color_black-squeeze}" stroke="#{$color_chathams-blue-dark}" stroke-width="1.058"><path d="M6.727 4.563h17.038V25.93H6.727z"/><path d="M4.71 2.546h17.038v21.366H4.71z"/></g><path d="M2.693.53h17.038v21.365H2.693z" fill="#{$color_black-squeeze}" stroke="#{$color_chathams-blue-dark}" stroke-width="1.058"/><path d="M5.657 3.63h5.535v1.318H5.657zm0 3.783h9.818v.79H5.657zm0 3.53h11.11v.79H5.657zm0 3.53H15.1v.79H5.657zm0 3.53h10.557v.79H5.657z" fill="#{$color_chathams-blue-dark}"/></svg>'
		));
	}

	&__publication-date {
		background-image: url(encodeSvg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><g fill="#{$color_chathams-blue-dark}"><path d="M0 2.038v23.813h26.458V2.038h-3.974c-.108 1.249-3.85 1.249-3.958 0H7.932c-.108 1.249-3.85 1.249-3.958 0z"/><path d="M4.895.608H7.01v.862c0 1.323-2.116 1.323-2.116 0zm14.552 0h2.117v.862c0 1.323-2.117 1.323-2.117 0z"/></g><path fill="#{$color_black-squeeze}" d="M1.323 6.007h23.813v19.05H1.323z"/><path d="M3.969 8.917h2.646v2.646H3.969zm5.291 0h2.646v2.646H9.26zm5.292 0h2.646v2.646h-2.646zm5.292 0h2.646v2.646h-2.646zM3.969 14.209h2.646v2.646H3.969zm5.291 0h2.646v2.646H9.26zm5.292 0h2.646v2.646h-2.646zm5.292 0h2.646v2.646h-2.646zM3.969 19.501h2.646v2.646H3.969zm5.291 0h2.646v2.646H9.26zm5.292 0h2.646v2.646h-2.646zm5.292 0h2.646v2.646h-2.646z" fill="#{$color_chathams-blue-dark}"/></svg>'
		));
	}

	&__update-date {
		background-image: url(encodeSvg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><path d="M0 2.038v23.813h26.458V2.038h-3.974c-.108 1.249-3.85 1.249-3.958 0H7.932c-.108 1.249-3.85 1.249-3.958 0z" fill="#{$color_chathams-blue-dark}"/><path d="M4.895.608H7.01v.862c0 1.323-2.116 1.323-2.116 0zm14.552 0h2.117v.862c0 1.323-2.117 1.323-2.117 0z" fill="#{$color_chathams-blue-dark}"/><path fill="#{$color_black-squeeze}" d="M1.323 6.007h23.812v19.05H1.323z"/><path d="M13.23 8.217c-1.438 0-2.779.42-3.91 1.139l-1.53-1.53v4.285h4.285l-1.7-1.7a5.808 5.808 0 012.854-.75 5.878 5.878 0 015.871 5.87c0 .772-.153 1.507-.425 2.182l1.26.735c.391-.895.609-1.88.609-2.916 0-4.034-3.282-7.315-7.315-7.315zm2.852 12.433a5.803 5.803 0 01-2.853.753 5.878 5.878 0 01-5.87-5.871c0-.729.139-1.423.382-2.067l-1.258-.759a7.272 7.272 0 00-.568 2.826c0 4.033 3.28 7.314 7.314 7.314a7.259 7.259 0 003.908-1.14l1.531 1.531v-4.285h-4.285z" stroke-width=".267" fill="#{$color_chathams-blue-dark}" stroke="#{$color_chathams-blue-dark}"/></svg>'
		));
	}

	&__reading-time {
		background-image: url(encodeSvg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><circle cx="-79.87" cy="41.903" r="13.018" fill="#{$color_chathams-blue-dark}" transform="translate(93.099 -28.463)"/><circle cx="13.229" cy="13.44" r="11.418" fill="#{$color_black-squeeze}"/><path d="M13.23 13.44V2.022c3.152 0 6.007 1.278 8.073 3.344z" fill="#{$color_russet}" fill-opacity=".251"/><g fill="#{$color_chathams-blue-dark}"><path d="M12.69 1.036h1.078v3.688H12.69zm0 21.12h1.078v3.688H12.69zm-8.176-9.255v1.078H.826v-1.078zm21.119 0v1.078h-3.688v-1.078z"/><circle cx="13.229" cy="13.44" r="1.246"/></g><path d="M13.03 12.627l5.739-5.739c.47-.269.985-.368 1.504-.495-.08.538-.273 1.016-.495 1.504l-5.738 5.739zM18.89.078c.266-.463 3.291 1.276 3.021 1.743l-.762 1.32c-.125.217-3.14-1.538-3.021-1.744zM4.547 1.823C4.28 1.361 7.298-.389 7.567.08l.762 1.32c.125.216-2.902 1.95-3.02 1.744z" fill="#{$color_chathams-blue-dark}"/></svg>'
		));
	}

	&__themes {
		background-image: url(encodeSvg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><path d="M0 2.633v21.192h24.471V5.13h-12.42L8.078 2.633z" fill="#{$color_chathams-blue-dark}"/><path d="M1.127 3.825v18.503H23.21V6.32H11.562L7.588 3.825z" fill="#{$color_black-squeeze}"/><path fill="#{$color_chathams-blue-dark}" d="M3.586 9.188h17.298v12.231H3.586z"/><path d="M4.614 10.215h15.244v10.177H4.614z" fill="#{$color_black-squeeze}"/><path d="M1.987 12.997h24.471l-1.987 10.828H0z" fill="#{$color_chathams-blue-dark}"/><path d="M2.966 14.083H24.97l-1.468 8.508H.968z" fill="#{$color_black-squeeze}"/></svg>'
		));
	}

	&__theme {
		@include media("screen") {
			@include dimensions("sm") {
				display: inline-block;

				&:not(:first-of-type) {
					&::before {
						display: inline-block;
						content: "/";
					}
				}
			}
		}
	}

	.theme__img {
		box-shadow: none;
		max-width: pxToRem(18);
		max-height: pxToRem(18);
	}

	&__comments {
		background-image: url(encodeSvg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><path d="M3.175 5.048h16.57a3.184 3.184 0 013.175 3.174v9.583a3.184 3.184 0 01-3.174 3.175h-9.142l-6.16 4.762V20.98h-1.27A3.184 3.184 0 010 17.805V8.222a3.184 3.184 0 013.175-3.174z" fill="#{$color_chathams-blue-dark}"/><path d="M3.175 6.318A1.91 1.91 0 001.27 8.222v9.583a1.91 1.91 0 001.905 1.905h2.54v3.46l4.127-3.174.317-.286h9.587a1.91 1.91 0 001.905-1.905V8.222a1.91 1.91 0 00-1.905-1.904H3.175" fill="#{$color_black-squeeze}"/><path d="M6.713.716a3.184 3.184 0 00-3.175 3.175v1.157h16.208a3.184 3.184 0 013.175 3.174v8.427h.363a3.184 3.184 0 003.174-3.175V3.891A3.184 3.184 0 0023.284.716z" fill="#{$color_chathams-blue-dark}"/><path d="M6.713 1.986h16.57A1.91 1.91 0 0125.19 3.89v9.583a1.91 1.91 0 01-1.905 1.905h-.363V8.222a3.184 3.184 0 00-3.175-3.174H4.808V3.89a1.91 1.91 0 011.905-1.905z" fill="#{$color_black-squeeze}"/></svg>'
		));
	}

	&__website {
		background-image: url(encodeSvg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><defs><path id="a" d="M-9.863 11.56h33.374v14.267H-9.863z"/></defs><path d="M13.215 0A13.23 13.23 0 000 13.23a13.23 13.23 0 0013.23 13.228A13.23 13.23 0 0026.457 13.23 13.23 13.23 0 0013.23 0a13.23 13.23 0 00-.014 0zm-.032 1.323a11.906 11.906 0 01.046 0 11.906 11.906 0 0111.906 11.906A11.906 11.906 0 0113.23 25.135 11.906 11.906 0 011.323 13.23a11.906 11.906 0 0111.86-11.906z" fill="#{$color_chathams-blue-dark}"/><path d="M13.244 25.414c8.36-8.36 8.722-15.996 0-24.717m-.03 25.065c-8.36-8.36-8.721-15.996 0-24.717" fill="none" stroke="#{$color_chathams-blue-dark}" stroke-width=".906"/><path d="M22.199 3.71c-6.219 5.285-11.97 5.268-17.934 0m17.934 19.042c-6.219-5.285-11.97-5.269-17.934 0" fill="none" stroke="#{$color_chathams-blue-dark}" stroke-width=".719"/><g fill="#{$color_chathams-blue-dark}" stroke="#{$color_chathams-blue-dark}" stroke-width=".672"><path d="M13.168.336h.122v25.787h-.122z"/><path d="M26.123 13.168v.122H.336v-.122z"/></g><path fill="#{$color_chathams-blue-dark}" d="M1.016 8.368h24.426v9.723H1.016z"/><path fill="#{$color_black-squeeze}" d="M2.092 9.372h22.274v7.715H2.092z"/><g style="line-height:1.25;white-space:pre;shape-inside:url(#a)"><path d="M3.459 11.009h1.23l.662 3.06.668-3.06h1.056l.665 3.028.666-3.028h1.23l-1.043 4.44h-1.38l-.667-3.053-.664 3.053H4.5zm6.682 0h1.229l.664 3.06.666-3.06h1.057l.664 3.028.666-3.028h1.23l-1.042 4.44h-1.38l-.667-3.053-.665 3.053h-1.38zm6.68 0h1.231l.662 3.06.668-3.06h1.056l.665 3.028.666-3.028H23l-1.043 4.44h-1.38l-.667-3.053-.664 3.053h-1.381z" aria-label="www" font-weight="700" font-size="5.644" font-family="sans-serif" letter-spacing="0" word-spacing="0" fill="#{$color_chathams-blue-dark}"/></g></svg>'
		));
	}
}

[data-color-scheme="dark"] {
	.meta {
		&__articles {
			background-image: url(encodeSvg(
				'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><g fill="#{$color_firefly}" stroke="#{$color_spindle-dark}" stroke-width="1.058"><path d="M6.727 4.563h17.038V25.93H6.727z"/><path d="M4.71 2.546h17.038v21.366H4.71z"/></g><path d="M2.693.53h17.038v21.365H2.693z" fill="#{$color_firefly}" stroke="#{$color_spindle-dark}" stroke-width="1.058"/><path d="M5.657 3.63h5.535v1.318H5.657zm0 3.783h9.818v.79H5.657zm0 3.53h11.11v.79H5.657zm0 3.53H15.1v.79H5.657zm0 3.53h10.557v.79H5.657z" fill="#{$color_spindle-dark}"/></svg>'
			));
		}

		&__publication-date {
			background-image: url(encodeSvg(
				'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><g fill="#{$color_spindle-dark}"><path d="M0 2.038v23.813h26.458V2.038h-3.974c-.108 1.249-3.85 1.249-3.958 0H7.932c-.108 1.249-3.85 1.249-3.958 0z"/><path d="M4.895.608H7.01v.862c0 1.323-2.116 1.323-2.116 0zm14.552 0h2.117v.862c0 1.323-2.117 1.323-2.117 0z"/></g><path fill="#{$color_firefly}" d="M1.323 6.007h23.813v19.05H1.323z"/><path d="M3.969 8.917h2.646v2.646H3.969zm5.291 0h2.646v2.646H9.26zm5.292 0h2.646v2.646h-2.646zm5.292 0h2.646v2.646h-2.646zM3.969 14.209h2.646v2.646H3.969zm5.291 0h2.646v2.646H9.26zm5.292 0h2.646v2.646h-2.646zm5.292 0h2.646v2.646h-2.646zM3.969 19.501h2.646v2.646H3.969zm5.291 0h2.646v2.646H9.26zm5.292 0h2.646v2.646h-2.646zm5.292 0h2.646v2.646h-2.646z" fill="#{$color_spindle-dark}"/></svg>'
			));
		}

		&__update-date {
			background-image: url(encodeSvg(
				'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><path d="M0 2.038v23.813h26.458V2.038h-3.974c-.108 1.249-3.85 1.249-3.958 0H7.932c-.108 1.249-3.85 1.249-3.958 0z" fill="#{$color_spindle-dark}"/><path d="M4.895.608H7.01v.862c0 1.323-2.116 1.323-2.116 0zm14.552 0h2.117v.862c0 1.323-2.117 1.323-2.117 0z" fill="#{$color_spindle-dark}"/><path fill="#{$color_firefly}" d="M1.323 6.007h23.812v19.05H1.323z"/><path d="M13.23 8.217c-1.438 0-2.779.42-3.91 1.139l-1.53-1.53v4.285h4.285l-1.7-1.7a5.808 5.808 0 012.854-.75 5.878 5.878 0 015.871 5.87c0 .772-.153 1.507-.425 2.182l1.26.735c.391-.895.609-1.88.609-2.916 0-4.034-3.282-7.315-7.315-7.315zm2.852 12.433a5.803 5.803 0 01-2.853.753 5.878 5.878 0 01-5.87-5.871c0-.729.139-1.423.382-2.067l-1.258-.759a7.272 7.272 0 00-.568 2.826c0 4.033 3.28 7.314 7.314 7.314a7.259 7.259 0 003.908-1.14l1.531 1.531v-4.285h-4.285z" stroke-width=".267" fill="#{$color_spindle-dark}" stroke="#{$color_spindle-dark}"/></svg>'
			));
		}

		&__reading-time {
			background-image: url(encodeSvg(
				'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><circle cx="-79.87" cy="41.903" r="13.018" fill="#{$color_spindle-dark}" transform="translate(93.099 -28.463)"/><circle cx="13.229" cy="13.44" r="11.418" fill="#{$color_firefly}"/><path d="M13.23 13.44V2.022c3.152 0 6.007 1.278 8.073 3.344z" fill="#{$color_brandy}" fill-opacity=".251"/><g fill="#{$color_spindle-dark}"><path d="M12.69 1.036h1.078v3.688H12.69zm0 21.12h1.078v3.688H12.69zm-8.176-9.255v1.078H.826v-1.078zm21.119 0v1.078h-3.688v-1.078z"/><circle cx="13.229" cy="13.44" r="1.246"/></g><path d="M13.03 12.627l5.739-5.739c.47-.269.985-.368 1.504-.495-.08.538-.273 1.016-.495 1.504l-5.738 5.739zM18.89.078c.266-.463 3.291 1.276 3.021 1.743l-.762 1.32c-.125.217-3.14-1.538-3.021-1.744zM4.547 1.823C4.28 1.361 7.298-.389 7.567.08l.762 1.32c.125.216-2.902 1.95-3.02 1.744z" fill="#{$color_spindle-dark}"/></svg>'
			));
		}

		&__themes {
			background-image: url(encodeSvg(
				'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><path d="M0 2.633v21.192h24.471V5.13h-12.42L8.078 2.633z" fill="#{$color_spindle-dark}"/><path d="M1.127 3.825v18.503H23.21V6.32H11.562L7.588 3.825z" fill="#{$color_firefly}"/><path fill="#{$color_spindle-dark}" d="M3.586 9.188h17.298v12.231H3.586z"/><path d="M4.614 10.215h15.244v10.177H4.614z" fill="#{$color_firefly}"/><path d="M1.987 12.997h24.471l-1.987 10.828H0z" fill="#{$color_spindle-dark}"/><path d="M2.966 14.083H24.97l-1.468 8.508H.968z" fill="#{$color_firefly}"/></svg>'
			));
		}

		&__comments {
			background-image: url(encodeSvg(
				'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><path d="M3.175 5.048h16.57a3.184 3.184 0 013.175 3.174v9.583a3.184 3.184 0 01-3.174 3.175h-9.142l-6.16 4.762V20.98h-1.27A3.184 3.184 0 010 17.805V8.222a3.184 3.184 0 013.175-3.174z" fill="#{$color_spindle-dark}"/><path d="M3.175 6.318A1.91 1.91 0 001.27 8.222v9.583a1.91 1.91 0 001.905 1.905h2.54v3.46l4.127-3.174.317-.286h9.587a1.91 1.91 0 001.905-1.905V8.222a1.91 1.91 0 00-1.905-1.904H3.175" fill="#{$color_firefly}"/><path d="M6.713.716a3.184 3.184 0 00-3.175 3.175v1.157h16.208a3.184 3.184 0 013.175 3.174v8.427h.363a3.184 3.184 0 003.174-3.175V3.891A3.184 3.184 0 0023.284.716z" fill="#{$color_spindle-dark}"/><path d="M6.713 1.986h16.57A1.91 1.91 0 0125.19 3.89v9.583a1.91 1.91 0 01-1.905 1.905h-.363V8.222a3.184 3.184 0 00-3.175-3.174H4.808V3.89a1.91 1.91 0 011.905-1.905z" fill="#{$color_firefly}"/></svg>'
			));
		}

		&__website {
			background-image: url(encodeSvg(
				'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.458 26.458"><defs><path id="a" d="M-9.863 11.56h33.374v14.267H-9.863z"/></defs><path d="M13.215 0A13.23 13.23 0 000 13.23a13.23 13.23 0 0013.23 13.228A13.23 13.23 0 0026.457 13.23 13.23 13.23 0 0013.23 0a13.23 13.23 0 00-.014 0zm-.032 1.323a11.906 11.906 0 01.046 0 11.906 11.906 0 0111.906 11.906A11.906 11.906 0 0113.23 25.135 11.906 11.906 0 011.323 13.23a11.906 11.906 0 0111.86-11.906z" fill="#{$color_spindle-dark}"/><path d="M13.244 25.414c8.36-8.36 8.722-15.996 0-24.717m-.03 25.065c-8.36-8.36-8.721-15.996 0-24.717" fill="none" stroke="#{$color_spindle-dark}" stroke-width=".906"/><path d="M22.199 3.71c-6.219 5.285-11.97 5.268-17.934 0m17.934 19.042c-6.219-5.285-11.97-5.269-17.934 0" fill="none" stroke="#{$color_spindle-dark}" stroke-width=".719"/><g fill="#{$color_spindle-dark}" stroke="#{$color_spindle-dark}" stroke-width=".672"><path d="M13.168.336h.122v25.787h-.122z"/><path d="M26.123 13.168v.122H.336v-.122z"/></g><path fill="#{$color_spindle-dark}" d="M1.016 8.368h24.426v9.723H1.016z"/><path fill="#{$color_firefly}" d="M2.092 9.372h22.274v7.715H2.092z"/><g style="line-height:1.25;white-space:pre;shape-inside:url(#a)"><path d="M3.459 11.009h1.23l.662 3.06.668-3.06h1.056l.665 3.028.666-3.028h1.23l-1.043 4.44h-1.38l-.667-3.053-.664 3.053H4.5zm6.682 0h1.229l.664 3.06.666-3.06h1.057l.664 3.028.666-3.028h1.23l-1.042 4.44h-1.38l-.667-3.053-.665 3.053h-1.38zm6.68 0h1.231l.662 3.06.668-3.06h1.056l.665 3.028.666-3.028H23l-1.043 4.44h-1.38l-.667-3.053-.664 3.053h-1.381z" aria-label="www" font-weight="700" font-size="5.644" font-family="sans-serif" letter-spacing="0" word-spacing="0" fill="#{$color_spindle-dark}"/></g></svg>'
			));
		}
	}
}

.articles-list {
	.meta {
		&__item {
			&--has-icon {
				.meta {
					&__term,
					&__description {
						&:first-of-type {
							padding-left: calc(
								#{pxToRem(22)} + #{cssVar(spacing-xs)}
							); // icon size + padding
						}

						&:not(:first-of-type) {
							padding-left: pxToRem(2);
						}
					}
				}
			}
		}
	}
}
