.more-link {
	@include buttonBase;
	@include buttonStyle2;

	&__icon {
		fill: cssvar(color-primary);
		margin-left: cssvar(spacing-sm);
		width: pxtorem(20);
		transition: all 0.3s ease-in-out 0s;
	}

	&:hover,
	&:focus {
		.more-link__icon {
			fill: cssvar(color-primary-light);
			transform: scale(1.2);
		}
	}

	&:active {
		.more-link__icon {
			fill: cssvar(color-primary-dark);
			transform: scale(1);
		}
	}
}
