@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.more-link {
	@include m.buttonBase;
	@include m.buttonStyle2;

	&__icon {
		fill: f.cssvar(color-primary);
		margin-left: f.cssvar(spacing-sm);
		width: f.pxtorem(20);
		transition: all 0.3s ease-in-out 0s;
	}

	&:hover,
	&:focus {
		.more-link__icon {
			fill: f.cssvar(color-primary-light);
			transform: scale(1.2);
		}
	}

	&:active {
		.more-link__icon {
			fill: f.cssvar(color-primary-dark);
			transform: scale(1);
		}
	}
}
