.pagination {
	margin: cssVar(spacing-sm) 0 cssVar(spacing-md);

	ul.page-numbers {
		@include flexList;

		.page-numbers {
			margin-left: pxToRem(-1);
		}
	}

	a.page-numbers {
		@include buttonBase;
		@include buttonStyle2;

		position: relative;
	}

	&__icon {
		fill: cssVar(color-primary);
		width: pxToRem(15);
		transition: all 0.2s ease-in 0s;

		&--next {
			margin-left: cssVar(spacing-xs);
		}

		&--previous {
			margin-right: cssVar(spacing-xs);
			rotate: 180deg;
		}
	}

	.current,
	.dots {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: cssVar(color-bg);
		border: pxToRem(2) solid cssVar(color-primary);
		text-decoration: none;
		padding: cssVar(spacing-xs) cssVar(spacing-sm);
		width: max-content;
		position: relative;
	}

	.current {
		font-weight: 700;
		transform: translateX(#{pxToRem(4)}) translateY(#{pxToRem(4)});
	}

	.dots {
		box-shadow: pxToRem(4) pxToRem(4) 0 0 cssVar(color-shadow);
	}
}
