@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.pagination {
	margin: f.cssvar(spacing-sm) 0 f.cssvar(spacing-md);

	ul.page-numbers {
		@include m.flexList;

		li {
			margin-bottom: f.cssvar(spacing-xs);
		}

		.page-numbers {
			margin-left: f.pxtorem(-1);
		}
	}

	a.page-numbers {
		@include m.buttonBase;
		@include m.buttonStyle2;

		position: relative;
	}

	&__icon {
		fill: f.cssvar(color-primary);
		width: f.pxtorem(15);
		transition: all 0.2s ease-in 0s;

		&--next {
			margin-left: f.cssvar(spacing-xs);
		}

		&--previous {
			margin-right: f.cssvar(spacing-xs);
			rotate: 180deg;
		}
	}

	.current,
	.dots {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: f.cssvar(color-bg);
		border: f.pxtorem(2) solid f.cssvar(color-primary);
		text-decoration: none;
		width: max-content;
		position: relative;
		padding: f.cssvar(spacing-sm) f.pxtorem(20);

		@include m.pointer("fine") {
			padding: f.cssvar(spacing-xs) f.cssvar(spacing-sm);
		}
	}

	.current {
		font-weight: 600;
		transform: translateX(#{f.pxtorem(4)}) translateY(#{f.pxtorem(4)});
	}

	.dots {
		box-shadow: f.pxtorem(4) f.pxtorem(4) 0 0 f.cssvar(color-shadow);
	}
}
