.pagination {
	margin: cssvar(spacing-sm) 0 cssvar(spacing-md);

	ul.page-numbers {
		@include flexList;

		li {
			margin-bottom: cssvar(spacing-xs);
		}

		.page-numbers {
			margin-left: pxtorem(-1);
		}
	}

	a.page-numbers {
		@include buttonBase;
		@include buttonStyle2;

		position: relative;
	}

	&__icon {
		fill: cssvar(color-primary);
		width: pxtorem(15);
		transition: all 0.2s ease-in 0s;

		&--next {
			margin-left: cssvar(spacing-xs);
		}

		&--previous {
			margin-right: cssvar(spacing-xs);
			rotate: 180deg;
		}
	}

	.current,
	.dots {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: cssvar(color-bg);
		border: pxtorem(2) solid cssvar(color-primary);
		text-decoration: none;
		width: max-content;
		position: relative;
		padding: cssvar(spacing-sm) pxtorem(20);

		@include pointer("fine") {
			padding: cssvar(spacing-xs) cssvar(spacing-sm);
		}
	}

	.current {
		font-weight: 600;
		transform: translateX(#{pxtorem(4)}) translateY(#{pxtorem(4)});
	}

	.dots {
		box-shadow: pxtorem(4) pxtorem(4) 0 0 cssvar(color-shadow);
	}
}
