@use "../abstracts/functions" as f;

.reading-progress {
	background: f.cssvar(color-primary-light-opacity);
	height: f.pxtorem(8);
	z-index: 5;

	&__bar {
		background: f.cssvar(color-primary);
	}
}
