@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.tools {
	display: flex;
	flex-flow: column wrap;
	gap: f.cssvar(spacing-sm);
	align-items: center;
	position: absolute;
	top: f.cssvar(spacing-md);
	right: f.cssvar(spacing-md);

	@include m.media("screen") {
		@include m.dimensions("sm") {
			flex-flow: row wrap;
		}

		@include m.dimensions("lg") {
			position: initial;
			top: auto;
			right: auto;
			margin-left: f.cssvar(spacing-md);
		}
	}

	&__item {
		z-index: 3;
	}

	&__label {
		@include m.buttonBase;
		@include m.buttonStyle3;

		width: f.pxtorem(40);
		height: f.pxtorem(40);
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: f.pxtorem(8);

		svg {
			fill: f.cssvar(color-bg-secondary);
			width: 100%;
			height: 100%;
		}
	}

	&__checkbox {
		&:hover,
		&:focus {
			~ .tools__label {
				box-shadow: 0 0 0 f.pxtorem(2) f.cssvar(color-primary-light),
					0 f.pxtorem(3) 0 f.pxtorem(2) f.cssvar(color-shadow),
					0 f.pxtorem(2) f.pxtorem(2) f.pxtorem(3)
						f.cssvar(color-shadow-light);
				transform: translateY(#{f.pxtorem(-1)});

				.tools__icon {
					&::before,
					svg {
						animation: pulse 1.2s;
						animation-iteration-count: infinite;
					}
				}
			}
		}

		&:focus {
			~ .tools__label {
				box-shadow: 0 0 0 f.pxtorem(2) f.cssvar(color-primary-light),
					0 f.pxtorem(3) 0 f.pxtorem(2) f.cssvar(color-shadow),
					0 f.pxtorem(2) f.pxtorem(2) f.pxtorem(3)
						f.cssvar(color-shadow-light),
					0 f.pxtorem(1) 0 f.pxtorem(7)
						f.cssvar(color-primary-light-opacity);
				outline: none;
			}
		}

		&:active {
			~ .tools__label {
				transform: translateY(#{f.pxtorem(2)});
			}
		}

		&:not(:checked) {
			~ .tools__label {
				.tools__label--activated {
					display: none;
				}
			}
		}

		&:checked {
			~ .tools__label {
				.tools__label--inactivated {
					display: none;
				}
			}
		}
	}

	.search-form {
		z-index: -1;

		&__field {
			background: f.cssvar(color-bg-secondary);
		}

		@include m.media("screen") {
			@include m.dimensions(null, "sm") {
				bottom: f.pxtorem(60); // main-nav height
			}

			@include m.dimensions("sm", "lg") {
				bottom: f.pxtorem(70); // main-nav height
			}

			@include m.dimensions(null, "lg") {
				background: f.cssvar(color-bg-tertiary);
				box-shadow: inset 0 f.pxtorem(-2) f.pxtorem(2) 0
					f.cssvar(color-shadow-darker);
				position: fixed;
				top: 0;
				right: 0;
				left: 0;
				padding: f.cssvar(spacing-md);
				animation: fadeIn 0.3s;

				&__btn {
					@include m.buttonStyle1;
					position: relative;

					&--icon {
						display: none;
					}

					&--txt {
						display: block;
					}
				}

				&__field {
					margin: f.cssvar(spacing-md) 0;

					&:hover,
					&:focus {
						~ .search-form__btn {
							transform: skewX(-15deg);
						}
					}
				}
			}

			@include m.dimensions("lg") {
				position: absolute;
				bottom: calc(#{f.cssvar(spacing-3xl)} * -1);
				right: 0;
				width: 40ch;
				max-width: unset;
				animation: scaleFullWidth 0.6s;

				&__field {
					background: f.cssvar(color-bg-tertiary);
				}
			}
		}
	}
}
