.tools {
	display: flex;
	flex-flow: column wrap;
	gap: cssvar(spacing-sm);
	align-items: center;
	position: absolute;
	top: cssvar(spacing-md);
	right: cssvar(spacing-md);

	@include media("screen") {
		@include dimensions("sm") {
			flex-flow: row wrap;
		}

		@include dimensions("lg") {
			position: initial;
			top: auto;
			right: auto;
			margin-left: cssvar(spacing-md);
		}
	}

	&__item {
		z-index: 3;
	}

	&__label {
		@include buttonBase;
		@include buttonStyle3;

		width: pxtorem(40);
		height: pxtorem(40);
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: pxtorem(8);

		svg {
			fill: cssvar(color-bg-secondary);
			width: 100%;
			height: 100%;
		}
	}

	&__checkbox {
		&:hover,
		&:focus {
			~ .tools__label {
				box-shadow: 0 0 0 pxtorem(2) cssvar(color-primary-light),
					0 pxtorem(3) 0 pxtorem(2) cssvar(color-shadow),
					0 pxtorem(2) pxtorem(2) pxtorem(3)
						cssvar(color-shadow-light);
				transform: translateY(#{pxtorem(-1)});

				.tools__icon {
					&::before,
					svg {
						animation: pulse 1.2s;
						animation-iteration-count: infinite;
					}
				}
			}
		}

		&:focus {
			~ .tools__label {
				box-shadow: 0 0 0 pxtorem(2) cssvar(color-primary-light),
					0 pxtorem(3) 0 pxtorem(2) cssvar(color-shadow),
					0 pxtorem(2) pxtorem(2) pxtorem(3)
						cssvar(color-shadow-light),
					0 pxtorem(1) 0 pxtorem(7)
						cssvar(color-primary-light-opacity);
				outline: none;
			}
		}

		&:active {
			~ .tools__label {
				transform: translateY(#{pxtorem(2)});
			}
		}

		&:not(:checked) {
			~ .tools__label {
				.tools__label--activated {
					display: none;
				}
			}
		}

		&:checked {
			~ .tools__label {
				.tools__label--inactivated {
					display: none;
				}
			}
		}
	}

	.search-form {
		z-index: -1;

		&__field {
			background: cssvar(color-bg-secondary);
		}

		@include media("screen") {
			@include dimensions(null, "sm") {
				bottom: pxtorem(60); // main-nav height
			}

			@include dimensions("sm", "lg") {
				bottom: pxtorem(70); // main-nav height
			}

			@include dimensions(null, "lg") {
				background: cssvar(color-bg-tertiary);
				box-shadow: inset 0 pxtorem(-2) pxtorem(2) 0
					cssvar(color-shadow-darker);
				position: fixed;
				top: 0;
				right: 0;
				left: 0;
				padding: cssvar(spacing-md);
				animation: fadeIn 0.3s;

				&__btn {
					@include buttonStyle1;
					position: relative;

					&--icon {
						display: none;
					}

					&--txt {
						display: block;
					}
				}

				&__field {
					margin: cssvar(spacing-md) 0;

					&:hover,
					&:focus {
						~ .search-form__btn {
							transform: skewX(-15deg);
						}
					}
				}
			}

			@include dimensions("lg") {
				position: absolute;
				bottom: calc(#{cssvar(spacing-3xl)} * -1);
				right: 0;
				width: 40ch;
				max-width: unset;
				animation: scaleFullWidth 0.6s;

				&__field {
					background: cssvar(color-bg-tertiary);
				}
			}
		}
	}
}
