.widget {
	background: cssvar(color-bg);
	margin-bottom: cssvar(spacing-md);
	max-width: 80ch;

	@include media("screen") {
		@include dimensions("lg") {
			padding: 0 0 cssvar(spacing-md);
		}
	}

	ul {
		@include listReset;

		li {
			&::before {
				display: inline-block;
				content: "\0025B8";
				color: cssvar(color-secondary);
				margin-right: cssvar(spacing-3xs);
			}
		}
	}

	&_recent_entries {
		.post-date {
			display: block;
			color: cssvar(color-fg-tertiary);
			font-size: cssvar(font-size-sm);
		}
	}

	&_rss {
		.rss-date {
			display: block;
			color: cssvar(color-fg-tertiary);
			font-size: cssvar(font-size-sm);
		}

		.rssSummary {
			font-size: cssvar(font-size-sm);
		}

		cite {
			display: block;
		}
	}

	&_calendar {
		table {
			width: 100%;
		}

		td,
		th {
			text-align: center;
		}

		caption {
			color: cssvar(color-fg-tertiary);
			font-variant: small-caps;
			font-weight: 600;
			margin-bottom: cssvar(spacing-sm);
		}
	}

	&_categories {
		ul {
			li {
				&::before {
					content: "#";
					font-weight: 500;
				}
			}
		}
	}

	&_tag_cloud {
		.tagcloud {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: cssvar(spacing-2xs);
		}

		.tag-cloud-link {
			border: pxtorem(1) solid cssvar(color-primary);
			border-radius: pxtorem(3);
			box-shadow: pxtorem(3) pxtorem(3) 0 0 cssvar(color-primary);
			text-decoration: none;
			text-decoration-thickness: 0;
			padding: cssvar(spacing-3xs);

			&::before {
				content: "#";
				speak: never;
			}

			&:hover,
			&:focus {
				box-shadow: pxtorem(5) pxtorem(5) 0 0
					cssvar(color-primary-light);
				transform: translateX(#{pxtorem(-2)}) translateY(#{pxtorem(-2)});
			}

			&:focus {
				text-decoration: underline;
				text-decoration-color: cssvar(color-primary-light);
				text-decoration-thickness: pxtorem(4);
			}

			&:active {
				box-shadow: 0 0 0 0 cssvar(color-primary-dark);
				text-decoration: none;
				transform: translateX(#{pxtorem(3)}) translateY(#{pxtorem(3)});
			}
		}
	}

	.textwidget {
		p:last-child {
			margin-bottom: 0;
		}
	}

	&.msbwidget,
	&.mslwidget {
		ul {
			li::before {
				display: none;
			}
		}
	}

	.msbwidget {
		&__link {
			font-weight: 600;
		}
	}

	.mslwidget {
		&__link {
			&:hover,
			&:focus {
				.mslwidget__logo {
					transform: scale(1.1);
				}
			}

			&:active {
				.mslwidget__logo {
					transform: scale(1);
				}
			}
		}
	}

	.lup,
	.ptl {
		&__item {
			display: flex;
			flex-flow: row nowrap;
		}
	}

	.lup {
		&__item {
			margin-bottom: cssvar(spacing-md);
		}

		&__footer {
			margin-top: cssvar(spacing-3xs);
		}

		&__term {
			font-weight: 400;
		}
	}

	@include media("screen") {
		@include dimensions("lg") {
			&.toc__wrapper {
				font-size: cssvar(font-size-sm);
				font-weight: 600;

				ol {
					li {
						margin-bottom: pxtorem(3);
					}
				}
			}

			&.msbwidget {
				font-size: cssvar(font-size-sm);
			}
		}

		@include dimensions("xl") {
			&.toc__wrapper,
			&.msbwidget {
				position: sticky;
				top: 0;
				margin-bottom: cssvar(spacing-xl);
			}
		}
	}
}
