@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.widget {
	background: f.cssvar(color-bg);
	margin-bottom: f.cssvar(spacing-md);
	max-width: 80ch;

	@include m.media("screen") {
		@include m.dimensions("lg") {
			padding: 0 0 f.cssvar(spacing-md);
		}
	}

	ul {
		@include m.listReset;

		li {
			&::before {
				display: inline-block;
				content: "\0025B8";
				color: f.cssvar(color-secondary);
				margin-right: f.cssvar(spacing-3xs);
			}
		}
	}

	&_recent_entries {
		.post-date {
			display: block;
			color: f.cssvar(color-fg-tertiary);
			font-size: f.cssvar(font-size-sm);
		}
	}

	&_rss {
		.rss-date {
			display: block;
			color: f.cssvar(color-fg-tertiary);
			font-size: f.cssvar(font-size-sm);
		}

		/* stylelint-disable-next-line -- WP native class. */
		.rssSummary {
			font-size: f.cssvar(font-size-sm);
		}

		cite {
			display: block;
		}
	}

	&_calendar {
		table {
			width: 100%;
		}

		td,
		th {
			text-align: center;
		}

		caption {
			color: f.cssvar(color-fg-tertiary);
			font-variant: small-caps;
			font-weight: 600;
			margin-bottom: f.cssvar(spacing-sm);
		}
	}

	&_categories {
		ul {
			li {
				&::before {
					content: "#";
					font-weight: 500;
				}
			}
		}
	}

	&_tag_cloud {
		.tagcloud {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: f.cssvar(spacing-2xs);
		}

		.tag-cloud-link {
			border: f.pxtorem(1) solid f.cssvar(color-primary);
			border-radius: f.pxtorem(3);
			box-shadow: f.pxtorem(3) f.pxtorem(3) 0 0 f.cssvar(color-primary);
			text-decoration: none;
			text-decoration-thickness: 0;
			padding: f.cssvar(spacing-3xs);

			&::before {
				content: "#";
				speak: never;
			}

			&:hover,
			&:focus {
				box-shadow: f.pxtorem(5) f.pxtorem(5) 0 0
					f.cssvar(color-primary-light);
				transform: translateX(#{f.pxtorem(-2)})
					translateY(#{f.pxtorem(-2)});
			}

			&:focus {
				text-decoration: underline;
				text-decoration-color: f.cssvar(color-primary-light);
				text-decoration-thickness: f.pxtorem(4);
			}

			&:active {
				box-shadow: 0 0 0 0 f.cssvar(color-primary-dark);
				text-decoration: none;
				transform: translateX(#{f.pxtorem(3)})
					translateY(#{f.pxtorem(3)});
			}
		}
	}

	.textwidget {
		p:last-child {
			margin-bottom: 0;
		}
	}

	&.msbwidget,
	&.mslwidget {
		ul {
			li::before {
				display: none;
			}
		}
	}

	.msbwidget {
		&__link {
			font-weight: 600;
		}
	}

	.mslwidget {
		&__link {
			&:hover,
			&:focus {
				.mslwidget__logo {
					transform: scale(1.1);
				}
			}

			&:active {
				.mslwidget__logo {
					transform: scale(1);
				}
			}
		}
	}

	.lup,
	.ptl {
		&__item {
			display: flex;
			flex-flow: row nowrap;
		}
	}

	.lup {
		&__item {
			margin-bottom: f.cssvar(spacing-md);
		}

		&__footer {
			margin-top: f.cssvar(spacing-3xs);
		}

		&__term {
			font-weight: 400;
		}
	}

	&.toc {
		margin-bottom: 0;
	}

	@include m.media("screen") {
		@include m.dimensions("lg") {
			&.toc {
				font-size: f.cssvar(font-size-sm);
				font-weight: 600;

				ol {
					li {
						margin-bottom: f.pxtorem(3);
					}
				}
			}

			&.msbwidget {
				font-size: f.cssvar(font-size-sm);
			}
		}

		@include m.dimensions("xl") {
			&.toc,
			&.msbwidget {
				position: sticky;
				top: 0;
				margin-bottom: f.cssvar(spacing-xl);
			}
		}
	}
}
