@use "../../abstracts/functions" as f;

.wp-block-categories {
	&-list {
		list-style: none;
		padding-left: 0;

		li {
			&::before {
				display: inline-block;
				content: "#";
				color: f.cssvar(color-secondary);
				font-weight: 500;
				margin-right: f.cssvar(spacing-3xs);
			}
		}
	}
}
