.wp-block-categories {
	&-list {
		list-style: none;
		padding-left: 0;

		li {
			&::before {
				display: inline-block;
				content: "#";
				color: cssvar(color-secondary);
				font-weight: 500;
				margin-right: cssvar(spacing-3xs);
			}
		}
	}
}
