.wp-block-code {
	max-height: pxtorem(400);

	@include media("screen") {
		@include dimensions("lg") {
			max-height: pxtorem(500);
		}

		@include dimensions("xl") {
			max-height: pxtorem(600);
		}
	}

	&.instructions {
		.token.comment {
			color: cssvar(color-token-blue);
		}
	}
}
