@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;

.wp-block-code {
	max-height: f.pxtorem(400);

	@include m.media("screen") {
		@include m.dimensions("lg") {
			max-height: f.pxtorem(500);
		}

		@include m.dimensions("xl") {
			max-height: f.pxtorem(600);
		}
	}

	&.instructions {
		.token.comment {
			color: f.cssvar(color-token-blue);
		}
	}
}
