.wp-block-gallery {
	.blocks-gallery-item {
		margin: 0 cssvar(spacing-sm) cssvar(spacing-sm) 0;

		&:last-child {
			margin: 0 0 cssvar(spacing-sm) 0;
		}

		figcaption {
			background: cssvar(color-bg-secondary);
			color: cssvar(color-fg-tertiary);
			font-size: cssvar(spacing-sm);
			padding: cssvar(spacing-3xs);
		}
	}
}
