@use "../../abstracts/functions" as f;

.wp-block-search {
	position: relative;

	&__button {
		background: linear-gradient(
				to right,
				transparent 0 33.3%,
				f.cssvar(color-primary-light) 33.3% 66.6%,
				f.cssvar(color-primary-dark) 66.6% 100%
			)
			0% 0% / 300% 100% no-repeat;
		border: f.pxtorem(1) solid f.cssvar(color-primary);
		box-shadow: f.pxtorem(4) f.pxtorem(4) 0 0 f.cssvar(color-shadow);
		margin-left: f.cssvar(spacing-sm);
		padding: 0 f.cssvar(spacing-3xs);
		transition: all 0.4s ease-in-out 0s;

		&:hover,
		&:focus {
			background-position: 50% 0;
			box-shadow: f.pxtorem(4) f.pxtorem(4) 0 0
				f.cssvar(color-primary-light);
			color: f.cssvar(color-fg-inverted);
		}

		&:active {
			background-position: 100% 0;
			box-shadow: f.pxtorem(2) f.pxtorem(2) 0 0
				f.cssvar(color-primary-dark);
			color: f.cssvar(color-fg-inverted);
			transform: translateX(#{f.pxtorem(2)}) translateY(#{f.pxtorem(2)});
		}
	}
}
