.wp-block-search {
	position: relative;

	&__button {
		background: linear-gradient(
				to right,
				transparent 0 33.3%,
				cssvar(color-primary-light) 33.3% 66.6%,
				cssvar(color-primary-dark) 66.6% 100%
			)
			0% 0% / 300% 100% no-repeat;
		border: pxtorem(1) solid cssvar(color-primary);
		box-shadow: pxtorem(4) pxtorem(4) 0 0 cssvar(color-shadow);
		margin-left: cssvar(spacing-sm);
		padding: 0 cssvar(spacing-3xs);
		transition: all 0.4s ease-in-out 0s;

		&:hover,
		&:focus {
			background-position: 50% 0;
			box-shadow: pxtorem(4) pxtorem(4) 0 0 cssvar(color-primary-light);
			color: cssvar(color-fg-inverted);
		}

		&:active {
			background-position: 100% 0;
			box-shadow: pxtorem(2) pxtorem(2) 0 0 cssvar(color-primary-dark);
			color: cssvar(color-fg-inverted);
			transform: translateX(#{pxtorem(2)}) translateY(#{pxtorem(2)});
		}
	}
}
