@use "../../abstracts/functions" as f;

.wp-block-social-links {
	a {
		background: none;

		&:focus {
			color: currentColor;
			opacity: 0.85;
			outline: f.cssvar(color-primary-light) dotted f.pxtorem(2);
		}
	}
}
