@use "../../abstracts/functions" as f;

.wp-block-table {
	&.is-style-stripes {
		tbody {
			tr:nth-child(2n + 1) {
				background-color: f.cssvar(color-bg-secondary);
			}
		}
	}

	td,
	th {
		border: f.pxtorem(1) solid f.cssvar(color-border);
		padding: f.cssvar(spacing-xs);
	}

	tfoot {
		font-weight: 600;
		text-align: center;
	}
}
