.wp-block-table {
	&.is-style-stripes {
		tbody {
			tr:nth-child(2n + 1) {
				background-color: cssvar(color-bg-secondary);
			}
		}
	}

	td,
	th {
		border: pxtorem(1) solid cssvar(color-border);
		padding: cssvar(spacing-xs);
	}

	tfoot {
		font-weight: 600;
		text-align: center;
	}
}
