@use "../../abstracts/functions" as f;

.wp-block-tag-cloud {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: f.cssvar(spacing-2xs);

	.tag-cloud-link {
		border: f.pxtorem(1) solid f.cssvar(color-primary);
		border-radius: f.pxtorem(3);
		box-shadow: f.pxtorem(3) f.pxtorem(3) 0 0 f.cssvar(color-primary);
		text-decoration: none;
		text-decoration-thickness: 0;
		padding: f.cssvar(spacing-3xs);

		&::before {
			content: "#";
			speak: never;
		}

		&:hover,
		&:focus {
			box-shadow: f.pxtorem(5) f.pxtorem(5) 0 0
				f.cssvar(color-primary-light);
			transform: translateX(#{f.pxtorem(-2)}) translateY(#{f.pxtorem(-2)});
		}

		&:focus {
			text-decoration: underline;
			text-decoration-color: f.cssvar(color-primary-light);
			text-decoration-thickness: f.pxtorem(4);
		}

		&:active {
			box-shadow: 0 0 0 0 f.cssvar(color-primary-dark);
			text-decoration: none;
			transform: translateX(#{f.pxtorem(3)}) translateY(#{f.pxtorem(3)});
		}
	}
}
