.wp-block-tag-cloud {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: cssvar(spacing-2xs);

	.tag-cloud-link {
		border: pxtorem(1) solid cssvar(color-primary);
		border-radius: pxtorem(3);
		box-shadow: pxtorem(3) pxtorem(3) 0 0 cssvar(color-primary);
		text-decoration: none;
		text-decoration-thickness: 0;
		padding: cssvar(spacing-3xs);

		&::before {
			content: "#";
			speak: never;
		}

		&:hover,
		&:focus {
			box-shadow: pxtorem(5) pxtorem(5) 0 0 cssvar(color-primary-light);
			transform: translateX(#{pxtorem(-2)}) translateY(#{pxtorem(-2)});
		}

		&:focus {
			text-decoration: underline;
			text-decoration-color: cssvar(color-primary-light);
			text-decoration-thickness: pxtorem(4);
		}

		&:active {
			box-shadow: 0 0 0 0 cssvar(color-primary-dark);
			text-decoration: none;
			transform: translateX(#{pxtorem(3)}) translateY(#{pxtorem(3)});
		}
	}
}
