@use "../abstracts/functions" as fun;
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@include mix.set-vars(
	(
		margin-3xs: var.$spacing_3xs,
		margin-2xs: var.$spacing_2xs,
		margin-xs: var.$spacing_xs,
		margin-sm: var.$spacing_sm,
		margin-md: var.$spacing_md,
		margin-lg: var.$spacing_lg,
		margin-xl: var.$spacing_xl,
		margin-2xl: var.$spacing_2xl,
		margin-3xl: var.$spacing_3xl,
		padding-3xs: var.$spacing_3xs,
		padding-2xs: var.$spacing_2xs,
		padding-xs: var.$spacing_xs,
		padding-sm: var.$spacing_sm,
		padding-md: var.$spacing_md,
		padding-lg: var.$spacing_lg,
		padding-xl: var.$spacing_xl,
		padding-2xl: var.$spacing_2xl,
		padding-3xl: var.$spacing_3xl,
	)
);
