.author {
	&__introduction {
		display: grid;
		grid-template-columns: #{pxToRem(180)} 1fr;
		column-gap: cssVar(spacing-lg);
		margin-bottom: cssVar(spacing-lg);
	}

	&__title {
		@include media("screen") {
			@include dimensions("xs") {
				grid-column: 1 / -1;
				grid-row: 1;
			}
		}
	}

	&__avatar {
		margin-bottom: cssVar(spacing-md);

		@include media("screen") {
			@include dimensions("xs") {
				grid-column: 1;
				grid-row: 2;
			}
		}
	}

	&__body {
		@include media("screen") {
			@include dimensions("xs") {
				grid-column: 2;
				grid-row: 2;
			}
		}
	}

	.article {
		&__body {
			margin-bottom: cssVar(spacing-md);
		}

		@include media("screen") {
			@include dimensions("xs") {
				display: grid;
				grid-template-columns: #{pxToRem(180)} 1fr;
				grid-template-rows: max-content 1fr;
				column-gap: cssVar(spacing-lg);

				&__header {
					grid-column: 2;
					grid-row: 1;
					margin-bottom: 0;
				}

				&__body {
					grid-column: 2;
					grid-row: 2;
				}

				&__footer {
					grid-column: 1;
					grid-row: 1 / -1;
				}

				&__figure {
					margin: 0;
				}

				&__image {
					max-width: pxToRem(150);
					max-height: pxToRem(80);
					margin: 0 auto;
				}

				&__meta {
					display: block;
				}

				.meta__item {
					margin-top: cssVar(spacing-sm);
				}
			}
		}
	}
}
