@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.template__page-contact {
	.page {
		&__introduction {
			margin-top: 0;
		}

		&__body {
			> p {
				&:first-of-type {
					margin-top: f.cssvar(spacing-sm);
				}
			}
		}
	}
}

.contact-form {
	margin-bottom: f.cssvar(spacing-md);

	&__item {
		margin-bottom: f.cssvar(spacing-md);

		&--none {
			display: none;
		}
	}

	&__label {
		margin-bottom: f.cssvar(spacing-3xs);
	}

	&__field {
		&--textarea {
			min-height: f.pxtorem(200);
		}
	}

	&__btn {
		@include m.buttonStyle1;

		margin: auto;
	}

	.required {
		color: f.cssvar(color-secondary);
	}

	.alert {
		border: f.pxtorem(2) solid f.cssvar(color-primary);
		box-shadow: f.pxtorem(6) f.pxtorem(6) 0 0 f.cssvar(color-primary);
		font-weight: 600;
		padding: f.cssvar(spacing-sm);

		&.error {
			border-color: f.cssvar(color-token-red);
			box-shadow: f.pxtorem(6) f.pxtorem(6) 0 0 f.cssvar(color-token-red);
			color: f.cssvar(color-token-red);
		}

		&.valid {
			border-color: f.cssvar(color-token-green);
			box-shadow: f.pxtorem(6) f.pxtorem(6) 0 0
				f.cssvar(color-token-green);
			color: f.cssvar(color-token-green);
		}

		&.nice-try {
			border-color: f.cssvar(color-token-orange);
			box-shadow: f.pxtorem(6) f.pxtorem(6) 0 0
				f.cssvar(color-token-orange);
			color: f.cssvar(color-token-orange);
		}
	}
}
