.template__page-contact {
	.page {
		&__introduction {
			margin-top: 0;
		}

		&__body {
			> p {
				&:first-of-type {
					margin-top: cssvar(spacing-sm);
				}
			}
		}
	}
}

.contact-form {
	margin-bottom: cssvar(spacing-md);

	&__item {
		margin-bottom: cssvar(spacing-md);

		&--none {
			display: none;
		}
	}

	&__label {
		margin-bottom: cssvar(spacing-3xs);
	}

	&__field {
		&--textarea {
			min-height: pxtorem(200);
		}
	}

	&__btn {
		@include buttonStyle1;

		margin: auto;
	}

	.required {
		color: cssvar(color-secondary);
	}

	.alert {
		border: pxtorem(2) solid cssvar(color-primary);
		box-shadow: pxtorem(6) pxtorem(6) 0 0 cssvar(color-primary);
		font-weight: 600;
		padding: cssvar(spacing-sm);

		&.error {
			border-color: cssvar(color-token-red);
			box-shadow: pxtorem(6) pxtorem(6) 0 0 cssvar(color-token-red);
			color: cssvar(color-token-red);
		}

		&.valid {
			border-color: cssvar(color-token-green);
			box-shadow: pxtorem(6) pxtorem(6) 0 0 cssvar(color-token-green);
			color: cssvar(color-token-green);
		}

		&.nice-try {
			border-color: cssvar(color-token-orange);
			box-shadow: pxtorem(6) pxtorem(6) 0 0 cssvar(color-token-orange);
			color: cssvar(color-token-orange);
		}
	}
}
