@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.cpt {
	.page {
		&__logo {
			box-shadow: none;
			width: auto;
			height: f.clampthis(#{f.pxtorem(60)});
			margin-right: f.cssvar(spacing-sm);
		}
	}

	.article {
		display: grid;
		grid-template-columns: minmax(0, 1fr);

		&__header {
			margin-bottom: 0;
		}

		&__footer {
			grid-row: 2;
			margin-bottom: f.cssvar(spacing-md);
		}

		&__meta {
			margin-bottom: 0;
		}

		@include m.media("screen") {
			@include m.dimensions("sm") {
				grid-template-columns: 1fr #{f.pxtorem(200)};
				grid-template-rows: max-content 1fr;
				column-gap: f.cssvar(spacing-lg);

				&__header {
					grid-column: 1;
					grid-row: 1;
				}

				&__body {
					grid-column: 1;
					grid-row: 2;
				}

				&__footer {
					grid-column: 2;
					grid-row: 1 / -1;
					margin-bottom: 0;
				}

				&__figure {
					margin: 0 0 f.cssvar(spacing-md);
				}

				&__image {
					max-width: f.pxtorem(200);
					max-height: f.pxtorem(100);
					margin: 0 auto;
				}

				&__meta {
					display: block;
				}

				.meta {
					&__item {
						margin-top: f.cssvar(spacing-sm);
					}

					&__theme {
						display: block;

						&:not(:first-child) {
							&::before {
								display: none;
							}
						}

						&:not(:last-child) {
							margin-bottom: f.pxtorem(2);
						}
					}
				}
			}

			@include m.dimensions("lg") {
				column-gap: f.cssvar(spacing-2xl);

				&:last-child {
					border-bottom: none;
					margin-bottom: f.cssvar(spacing-md);
					padding-bottom: 0;
				}
			}
		}
	}
}
