.front-page {
	.buttons-list {
		@include flexList;
		gap: cssVar(spacing-md);
		margin-bottom: cssVar(spacing-md);

		a {
			@include buttonBase;
			@include buttonStyle2;
		}
	}

	.wp-block-group {
		padding: cssVar(spacing-xl) 0;
		display: grid;
		grid-auto-rows: max-content;
		grid-template-columns: minmax(0, 1fr) minmax(auto, 80ch) minmax(0, 1fr);
		justify-content: center;
		column-gap: cssVar(spacing-md);
		position: relative;

		@include media("screen") {
			@include dimensions("sm") {
				column-gap: cssVar(spacing-lg);
			}

			@include dimensions("lg") {
				padding: cssVar(spacing-2xl) 0;
				grid-template-columns: minmax(0, 1fr) minmax(auto, 80ch) minmax(
						0,
						1fr
					);
				column-gap: cssVar(spacing-xl);
			}
		}

		&:nth-child(2n) {
			background: cssVar(color-bg-secondary);
			padding: cssVar(spacing-md) 0 cssVar(spacing-md);

			@include media("screen") {
				@include dimensions("lg") {
					padding: cssVar(spacing-md) 0 cssVar(spacing-lg);
				}
			}

			&::before,
			&::after {
				display: block;
				content: "";
				background-image: url(#{encodeSvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 130.427" preserveAspectRatio="none"><path d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_link-water}"/><path d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_catskill-white}"/></svg>')});
				background-repeat: repeat-x;
				background-size: 100% 100%;
				position: absolute;
				left: 0;
				width: 100%;
				height: cssVar(spacing-md);
			}

			&::before {
				top: calc(#{cssVar(spacing-md)} * -1);
			}

			&::after {
				bottom: calc(#{cssVar(spacing-md)} * -1);
				transform: rotate(180deg);
			}
		}

		&:first-child {
			padding-top: cssVar(spacing-2xl);

			@include media("screen") {
				@include dimensions("sm") {
					padding-top: cssVar(spacing-3xl);
				}
			}
		}

		&:last-child {
			border: none;
			padding-bottom: cssVar(spacing-xl);

			@include media("screen") {
				@include dimensions("lg") {
					padding-bottom: cssVar(spacing-4xl);
				}
			}
		}

		&__inner-container {
			grid-column: 2;
		}
	}

	&[data-color-scheme="dark"] {
		.wp-block-group {
			&:nth-child(2n) {
				&::before,
				&::after {
					background-image: url(#{encodeSvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 130.427" preserveAspectRatio="none"><path d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_nile-blue}"/><path d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_big-stone}"/></svg>')});
				}
			}
		}
	}
}
