@use "../abstracts/functions" as fun;
@use "../abstracts/placeholders";
@use "../abstracts/variables" as var;
@use "../components/button";

.page--is-home {
	.wp-block-group {
		padding: clamp(
				#{fun.get-var(spacing-xl)},
				4vw,
				#{fun.get-var(spacing-xl)} * 2
			)
			0
			clamp(
				#{fun.get-var(spacing-2xl)},
				5vw,
				#{fun.get-var(spacing-2xl)} * 2
			);
		position: relative;

		&:nth-child(2n) {
			background: fun.get-var(color-bg-secondary);
			padding: clamp(
					#{fun.get-var(spacing-md)},
					2vw,
					#{fun.get-var(spacing-md)} * 2
				)
				0
				clamp(
					#{fun.get-var(spacing-xl)},
					4vw,
					#{fun.get-var(spacing-xl)} * 2
				);

			&::before,
			&::after {
				display: block;
				width: 100%;
				height: fun.get-var(spacing-md);
				content: "";
				background-image: url(fun.encode-svg(
					'<svg viewBox="0 0 500 130.427" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path fill="#{var.$color_link-water}" d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z"/><path fill="#{var.$color_catskill-white}" d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z"/></svg>'
				));
				background-repeat: repeat-x;
				background-size: 100% 100%;
				position: absolute;
				left: 0;
			}

			&::before {
				top: calc(#{fun.get-var(spacing-md)} * -1);
			}

			&::after {
				bottom: calc(#{fun.get-var(spacing-md)} * -1);
				transform: rotate(180deg);
			}
		}

		&:last-child {
			padding-bottom: clamp(
				#{fun.get-var(spacing-3xl)},
				8vw,
				#{fun.get-var(spacing-3xl)} * 2
			);
		}

		&__inner-container {
			grid-column: 2;

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}

	.buttons-list {
		@extend %flex-list;
		gap: fun.get-var(spacing-md);
		margin-bottom: fun.get-var(spacing-md);

		a {
			@extend .btn;
			@extend .btn--secondary;

			&.feed {
				@extend .btn--feed;
			}
		}
	}
}
