.main-nav {
	&__link {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		background: linear-gradient(
					to top,
					cssVar(color-bg) pxToRem(3),
					transparent pxToRem(3)
				)
				center / 0 100% no-repeat,
			linear-gradient(
					to bottom,
					transparent 0 25%,
					cssVar(color-primary) 25% 50%,
					cssVar(color-primary-light) 50% 75%,
					cssVar(color-primary-dark) 75% 100%
				)
				0 33.3% / 100% 400% no-repeat,
			linear-gradient(
					to bottom,
					cssVar(color-bg) 0 50%,
					transparent 50% 100%
				)
				0 100% / 100% 200% no-repeat;
		color: cssVar(color-fg-inverted);
		font-size: cssVar(font-size-md);
		font-variant: small-caps;
		font-weight: 700;
		text-decoration: none;
		text-shadow: pxToRem(1) pxToRem(1) pxToRem(1) cssVar(color-shadow-dark);
		height: pxToRem(60);
		padding: 0 cssVar(spacing-sm);

		&:hover {
			background-position: center, 0 66.6%, 0 100%;
			color: cssVar(color-fg-inverted);
		}

		&:focus {
			background-position: center, 0 0, 0 0;
			color: cssVar(color-primary);
			text-shadow: pxToRem(1) pxToRem(1) pxToRem(1)
				cssVar(color-shadow-lighter);
		}

		&:active {
			background-position: center, 0 100%, 0 100%;
			color: cssVar(color-fg-inverted);
		}

		@include media("screen") {
			@include dimensions("lg") {
				background: linear-gradient(
							to top,
							cssVar(color-bg) pxToRem(3),
							transparent pxToRem(3)
						)
						center / 0 100% no-repeat,
					linear-gradient(
							to right,
							cssVar(color-bg) 100%,
							transparent 100%
						)
						center / 0 100% no-repeat;
				font-size: cssVar(font-size-lg);
				height: auto;
				margin: 0 cssVar(spacing-3xs);
				padding: cssVar(spacing-xs) cssVar(spacing-3xs);

				&:hover,
				&:focus,
				&:active {
					background-position: center, center;
				}

				&:hover {
					background-size: calc(100% - (#{cssVar(spacing-3xs)} * 2))
							100%,
						0 100%;
					color: cssVar(color-fg-inverted-secondary);
				}

				&:focus {
					background-size: 0 100%, 200% 100%;
				}

				&:active {
					background-size: 50% 100%, 0 100%;
				}
			}
		}
	}

	.current_page_item {
		.main-nav__link {
			background-size: 50% 100%, 100% 400%, 100% 200%;

			@include media("screen") {
				@include dimensions("lg") {
					background-size: 50% 100%, 0 100%;

					&:hover {
						background-size: calc(
									100% - (#{cssVar(spacing-3xs)} * 2)
								)
								100%,
							0 100%;
					}

					&:focus {
						background-size: 0 100%, 200% 100%;
					}

					&:active {
						background-size: 50% 100%, 0 100%;
					}
				}
			}
		}
	}
}
