@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.footer {
	background: f.cssvar(color-bg-tertiary);

	text-align: center;
	margin-bottom: f.pxtorem(60); // main-nav height
	padding: f.cssvar(spacing-md) f.cssvar(spacing-md) f.cssvar(spacing-lg);
	position: relative;

	&::before {
		display: block;
		content: "";
		position: absolute;
		top: f.pxtorem(-30);
		left: 0;
		width: 100%;
		height: f.pxtorem(30);
		background-image: url(#{f.encodesvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 95.839"><path fill="#{v.$color_link-water}" d="M0 85.84h194V46.172h200V9.395h192v36.778h200V85.84h14V0H0z"/><path d="M394 9.395v36.778H194v39.666H0v4h198V50.173h200V13.395h184v36.778h200v39.666h18v-4h-14V46.173H586V9.395z" fill="#{v.$color_geyser}"/><path d="M398 13.395v36.778H198v39.666H0v6h204V56.173h200V19.395h172v36.778h200v39.666h24v-6h-18V50.173H582V13.395z" fill="#{v.$color_gull-gray-opacity}"/></svg>')});
		transform: rotate(180deg);
	}

	@include m.media("screen") {
		@include m.dimensions("lg") {
			margin: 0;
			padding: f.cssvar(spacing-lg) f.cssvar(spacing-md);
		}
	}

	&__copyright {
		.copyright {
			&__icon {
				fill: f.cssvar(color-primary-dark);
				max-height: f.pxtorem(30);
			}

			&__body {
				font-family: f.cssvar(font-family-secondary);
				margin: f.cssvar(spacing-sm);
			}
		}
	}

	&__nav {
		.nav {
			&__list {
				@include m.flexList;
				justify-content: center;
			}
		}
	}
}

[data-color-scheme="dark"] {
	.footer {
		&::before {
			background-image: url(#{f.encodesvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 95.839"><path fill="#{v.$color_nile-blue}" d="M0 85.84h194V46.172h200V9.395h192v36.778h200V85.84h14V0H0z"/><path d="M394 9.395v36.778H194v39.666H0v4h198V50.173h200V13.395h184v36.778h200v39.666h18v-4h-14V46.173H586V9.395z" fill="#{v.$color_mirage}"/><path d="M398 13.395v36.778H198v39.666H0v6h204V56.173h200V19.395h172v36.778h200v39.666h24v-6h-18V50.173H582V13.395z" fill="#{v.$color_rhino}"/></svg>')});
		}
	}
}
