.body {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.header {
	display: grid;
	grid-template-columns: cssVar(spacing-md) minmax(0, 1fr) cssVar(spacing-md);
	align-items: center;

	.branding {
		grid-column: 2;
	}

	@include media("screen") {
		@include dimensions("lg") {
			grid-template-columns:
				cssVar(spacing-3xl) max-content minmax(0, 1fr) max-content
				cssVar(spacing-3xl);

			.branding {
				display: grid;
				grid-template-columns: max-content 1fr;
				column-gap: cssVar(spacing-md);
				align-items: center;

				&__logo {
					grid-column: 1;
					grid-row: span 2;
				}

				&__title {
					grid-column: 2;
					grid-row: 1;
				}

				&__baseline {
					grid-column: 2;
					grid-row: 2;
				}
			}

			.main-nav {
				grid-column: 3;
				justify-self: end;
			}

			.tools {
				grid-column: 4;
			}
		}

		@include dimensions("xl") {
			grid-template-columns:
				minmax(#{cssVar(spacing-3xl)}, 1fr) minmax(auto, 100ch) minmax(
					auto,
					100ch
				)
				max-content
				minmax(#{cssVar(spacing-3xl)}, 1fr);
		}

		@include dimensions("2xl") {
			grid-template-columns:
				minmax(#{cssVar(spacing-4xl)}, 1fr) minmax(auto, 100ch) minmax(
					auto,
					100ch
				)
				max-content
				minmax(#{cssVar(spacing-4xl)}, 1fr);
		}
	}
}

.main,
.breadcrumb,
.page__header,
.page__body,
.page__comments {
	display: grid;
	grid-auto-rows: max-content;
	grid-template-columns: minmax(0, 1fr) minmax(0, 80ch) minmax(0, 1fr);
	justify-content: center;
	column-gap: cssVar(spacing-md);

	@include media("screen") {
		@include dimensions("sm") {
			column-gap: cssVar(spacing-lg);
		}

		@include dimensions("lg") {
			grid-template-columns: 0 minmax(0, 80ch) minmax(0, 1fr);
			column-gap: cssVar(spacing-3xl);
		}

		@include dimensions("xl") {
			grid-template-columns:
				minmax(0, 1fr) minmax(0, 80ch) 80ch minmax(0, 80ch)
				minmax(0, 1fr);
		}

		@include dimensions("2xl") {
			column-gap: cssVar(spacing-4xl);
		}
	}
}

.main {
	flex: 1;
	grid-template-areas:
		"breadcrumb breadcrumb breadcrumb"
		"page__header page__header page__header"
		". page__aside--first ."
		"page__body page__body page__body"
		". page__footer ."
		". page__aside--last ."
		"page__comments page__comments page__comments";

	@include media("screen") {
		@include dimensions("lg") {
			grid-template-areas:
				"breadcrumb breadcrumb breadcrumb"
				"page__header page__header page__header"
				"page__body page__body page__aside--first"
				"page__body page__body page__aside--last"
				"page__body page__body ."
				". page__footer ."
				"page__comments page__comments page__comments";
		}

		@include dimensions("xl") {
			grid-template-areas:
				"breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb"
				"page__header page__header page__header page__header page__header"
				". page__aside--first page__body page__aside--last ."
				". page__aside--first page__footer page__aside--last ."
				"page__comments page__comments page__comments page__comments page__comments";
		}
	}
}

.breadcrumb {
	grid-area: breadcrumb;
	grid-template-areas: ". breadcrumb__list .";

	@include media("screen") {
		@include dimensions("xl") {
			grid-template-areas: ". . breadcrumb__list . .";
		}
	}

	&__list {
		grid-area: breadcrumb__list;
	}
}

.page {
	display: contents;

	&__header {
		grid-area: page__header;
		grid-template-areas:
			". page__title ."
			". page__meta ."
			". page__introduction .";

		@include media("screen") {
			@include dimensions("xl") {
				grid-template-areas:
					". . page__title . ."
					". . page__meta . ."
					". . page__introduction . .";
			}
		}
	}

	&__body {
		grid-area: page__body;
		grid-column: 1 / -1;

		> *:not(.alignfull):not(.alignwide) {
			grid-column: 2;

			@include media("screen") {
				@include dimensions("xl") {
					grid-column: 3;
				}
			}
		}

		.alignfull,
		.alignwide {
			grid-column: 1 / -1;
		}

		.alignleft {
			justify-self: start;
		}

		.alignright {
			justify-self: end;
		}
	}

	&__footer {
		grid-area: page__footer;
	}

	&__aside {
		&--first {
			grid-area: page__aside--first;

			@include media("screen") {
				@include dimensions("xl") {
					justify-self: end;
				}

				@include dimensions("2xl") {
					justify-self: start;
				}
			}
		}

		&--last {
			grid-area: page__aside--last;
		}
	}

	&__comments {
		grid-area: page__comments;
		grid-template-areas:
			". comments__header ."
			". comments__list ."
			". comments__form .";

		@include media("screen") {
			@include dimensions("xl") {
				grid-template-areas:
					". . comments__header . ."
					". . comments__list . ."
					". . comments__form . .";
			}
		}
	}

	&__title {
		grid-area: page__title;
	}

	&__meta {
		grid-area: page__meta;
	}

	&__introduction {
		grid-area: page__introduction;
	}
}

.comments {
	&__header {
		grid-area: comments__header;
	}

	&__list {
		grid-area: comments__list;
	}

	&__form {
		grid-area: comments__form;
	}
}

.articles-list {
	.main {
		flex: 1;
		grid-template-areas:
			"breadcrumb breadcrumb breadcrumb"
			"page__header page__header page__header"
			"page__body page__body page__body"
			". page__aside--first ."
			". page__aside--last .";

		@include media("screen") {
			@include dimensions("lg") {
				grid-template-areas:
					"breadcrumb breadcrumb breadcrumb"
					"page__header page__header page__header"
					"page__body page__body page__aside--first"
					"page__body page__body page__aside--last"
					"page__body page__body .";
			}

			@include dimensions("xl") {
				grid-template-areas:
					"breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb"
					"page__header page__header page__header page__header page__header"
					". page__aside--first page__body page__aside--last .";
			}
		}
	}
}
