@use "../abstracts/functions" as fun;
@use "../abstracts/mixins" as mix;

.body {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.header {
	display: grid;
	grid-auto-rows: max-content;
	grid-template-columns:
		minmax(#{fun.get-var(spacing-md)}, 1fr) minmax(0, 80ch)
		minmax(#{fun.get-var(spacing-md)}, 1fr);

	&__branding {
		grid-column: 2;
		grid-row: 1 / -1;
	}

	&__toolbar {
		position: absolute;
		top: clamp(
			#{fun.get-var(spacing-md)},
			5vw,
			#{fun.get-var(spacing-md)} * 2
		);
		right: clamp(
			#{fun.get-var(spacing-md)},
			5vw,
			#{fun.get-var(spacing-md)} * 2
		);
	}
}

.main,
.page,
.page__header,
.page__body,
.page__body > .wp-block-group,
.page__comments {
	display: grid;
	grid-template-columns:
		minmax(0, 1fr)
		min(
			80ch,
			100vw -
				calc(
					clamp(
							#{fun.get-var(spacing-md)},
							5vw,
							#{fun.get-var(spacing-md)} * 2
						) * 2
				)
		)
		minmax(0, 1fr);
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	column-gap: clamp(
		#{fun.get-var(spacing-md)},
		5vw,
		#{fun.get-var(spacing-md)} * 2
	);
}

.page,
.page__header,
.page__body,
.page__comments {
	grid-column: 1 / -1;
}

.breadcrumb {
	grid-column: 2;
}

.page {
	&__header,
	&__body,
	&__comments {
		grid-column: 1 / -1;

		> *:not(.alignfull):not(.alignwide) {
			grid-column: 2;
		}

		.alignfull,
		.alignwide {
			grid-column: 1 / -1;
		}
	}

	&__footer,
	.sidebar {
		grid-column: 2;
	}
}

@include mix.media("screen") {
	@include mix.dimensions("sm") {
		.page {
			&--is-category & {
				&__meta {
					grid-row: 2;
				}

				&__feed {
					grid-column: 2;
					grid-row: 2;
					margin-left: auto;
					margin-right: 0;
				}
			}
		}
	}

	@include mix.dimensions("lg") {
		.header {
			grid-template-columns:
				minmax(#{fun.get-var(spacing-2xl)}, 1fr) minmax(
					max-content,
					100ch
				)
				minmax(auto, 100ch)
				max-content
				minmax(#{fun.get-var(spacing-2xl)}, 1fr);
			align-items: center;

			&__branding {
				display: grid;
				grid-template-columns: max-content minmax(0, 1fr);
				column-gap: fun.get-var(spacing-md);
				align-items: center;
				justify-items: start;
			}

			.branding {
				&__logo {
					grid-column: 1;
					grid-row: span 2;
				}

				&__title {
					grid-column: 2;
					grid-row: 1;
				}

				&__baseline {
					grid-column: 2;
					grid-row: 2;
				}
			}

			&__nav {
				grid-column: 3;
				justify-self: end;
			}

			&__toolbar {
				grid-column: 4;
				position: relative;
				top: 0;
				right: 0;
			}
		}

		.main,
		.page,
		.page__header,
		.page__body,
		.page__comments {
			grid-template-columns:
				minmax(0, 1fr)
				minmax(70ch, 1fr)
				minmax(0, 45ch)
				minmax(0, 1fr);
			column-gap: fun.get-var(spacing-xl);
		}

		.page {
			&__body {
				grid-row: 2 / 5;
			}

			.sidebar {
				grid-column: 3;
				grid-row: 2;
				z-index: 2;
			}

			&--has-toc,
			&--is-listing {
				.sidebar {
					&--first {
						grid-row: 2;
					}

					&--last {
						grid-row: 3;
					}
				}
			}
		}
	}

	@include mix.dimensions("xl") {
		.main,
		.page,
		.page__header,
		.page__body,
		.page__comments {
			grid-template-columns:
				minmax(0, 1fr)
				minmax(25ch, 80ch)
				minmax(70ch, 1fr)
				minmax(25ch, 50ch)
				minmax(0, 1fr);
			column-gap: fun.get-var(spacing-xl);
		}

		.breadcrumb {
			grid-column: 3;
		}

		.page {
			&__header,
			&__body,
			&__comments {
				> *:not(.alignfull):not(.alignwide) {
					grid-column: 3;
				}
			}

			&__body {
				grid-row: 2;
			}

			&__footer {
				grid-column: 3;
			}

			.sidebar {
				grid-row: 2;

				&--first {
					grid-column: 2;
				}

				&--last {
					grid-column: 4;
				}
			}
		}
	}
}
