@use "../abstracts/functions" as fun;
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.header {
	background: fun.get-var(color-bg-secondary);
	padding: clamp(#{fun.get-var(padding-lg)}, 4vw, #{fun.get-var(padding-2xl)})
		0 clamp(#{fun.get-var(padding-xl)}, 4vw, #{fun.get-var(padding-3xl)});
	position: relative;
	text-align: center;

	&::before {
		display: block;
		width: 100%;
		height: fun.convert-px(30);
		background-image: url(fun.encode-svg(
			'<svg viewBox="0 0 800 95.839" xmlns="http://www.w3.org/2000/svg"><path fill="#{var.$color_catskill-white}" d="M0 85.84h194V46.172h200V9.395h192v36.778h200V85.84h14V0H0z"/><path fill="#{var.$color_link-water}" d="M398 13.395v36.778H198v39.666H0v6h204V56.173h200V19.395h172v36.778h200v39.666h24v-6h-18V50.173H582V13.395z"/><path fill="#{var.$color_geyser}" d="M394 9.395v36.778H194v39.666H0v4h198V50.173h200V13.395h184v36.778h200v39.666h18v-4h-14V46.173H586V9.395z"/></svg>'
		));
		content: "";
		position: absolute;
		bottom: fun.convert-px(-30);
		left: 0;
	}
}

.branding {
	&__logo {
		margin: auto;
	}

	&__title {
		font-family: fun.get-var(font-family-secondary);
		font-size: fun.get-var(font-size-3xl);
		font-weight: 500;
		margin: fun.get-var(margin-xs) 0;

		@include mix.media("screen") {
			@include mix.dimensions("lg") {
				margin: 0;
			}
		}
	}

	&__link {
		background: linear-gradient(
				to top,
				fun.get-var(color-primary-light) fun.convert-px(5),
				transparent fun.convert-px(5)
			)
			center / 0 100% no-repeat;
		text-decoration: none;
		transition: all 0.5s ease-in-out 0s;

		&:hover,
		&:focus {
			background-size: 100% 100%;
		}

		&:active {
			background-size: 0 100%;
		}
	}

	&__baseline {
		font-family: fun.get-var(font-family-secondary);
		font-size: fun.get-var(font-size-md);
		font-weight: 400;
		letter-spacing: fun.convert-px(1);
		text-transform: uppercase;
		margin: 0;
	}
}

.logo {
	position: relative;
	width: max-content;

	&__image {
		backface-visibility: hidden;
		border: fun.convert-px(3) solid fun.get-var(color-border-light);
		border-radius: 50%;
		box-shadow: 0 0 fun.convert-px(6) fun.convert-px(1)
			fun.get-var(color-shadow-darker);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		&--back {
			transform: rotateY(180deg);
		}
	}

	&__link {
		display: block;
		width: var.get-dim("logo-size");
		height: var.get-dim("logo-size");
		transform-style: preserve-3d;
		transition: all 0.6s linear 0s;

		&:hover,
		&:focus {
			transform: rotateY(180deg);
			outline: none;
		}

		&:hover &,
		&:focus & {
			&__image {
				&---front {
					transform: none;
				}

				&--back {
					transform: rotateY(180deg);
				}
			}
		}

		&:focus & {
			&__image {
				box-shadow: 0 0 fun.convert-px(6) fun.convert-px(1)
						fun.get-var(color-shadow-dark),
					0 0 0 fun.convert-px(5)
						fun.get-var(color-primary-light-opacity);
				outline: none;
			}
		}

		&:active & {
			&__image {
				box-shadow: 0 0 fun.convert-px(6) fun.convert-px(1)
						fun.get-var(color-shadow-dark),
					0 0 0 fun.convert-px(7)
						fun.get-var(color-primary-light-opacity);
			}
		}
	}

	&:hover & {
		&__link {
			transform: rotateY(180deg);
		}
	}
}

.main {
	background: fun.get-var(color-bg);
}
