.main {
	background: cssVar(color-bg);
}

.article {
	border-bottom: pxToRem(1) solid cssVar(color-border-lighter);
	margin-bottom: cssVar(spacing-md);
	padding-bottom: cssVar(spacing-lg);

	&__header {
		margin-bottom: cssVar(spacing-md);
	}

	&__body {
		display: flex;
		flex-flow: row wrap;
	}

	&__figure {
		margin: 0 auto cssVar(spacing-md);

		@include media("screen") {
			@include dimensions("sm") {
				order: 2;
				margin-left: cssVar(spacing-md);
				margin-top: cssVar(spacing-xs);
			}

			@include dimensions("xl") {
				margin-left: cssVar(spacing-xl);
			}
		}
	}

	&__image {
		max-height: pxToRem(150);
		width: auto;

		@include media("screen") {
			@include dimensions("sm") {
				max-width: pxToRem(250);
			}
		}
	}

	&__description {
		@include media("screen") {
			@include dimensions("sm") {
				flex: 1 1 calc(#{pxToRem(250)} - #{cssVar(spacing-md)}); // 100% - image width - spacing
				order: 1;
			}
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.page {
	&__header {
		background: cssVar(color-bg-secondary);
		border-bottom: pxToRem(1) solid cssVar(color-border-lighter);
		border-top: pxToRem(1) solid cssVar(color-border-lighter);
		padding-bottom: cssVar(spacing-md);

		@include media("screen") {
			@include dimensions("lg") {
				padding-bottom: cssVar(spacing-lg);
			}
		}
	}

	&__title {
		max-width: 100%;
		padding: cssVar(spacing-sm) cssVar(spacing-sm) cssVar(spacing-sm) 0;
		position: relative;
		z-index: 1;

		&::before {
			display: block;
			content: "";
			background: cssVar(color-bg-tertiary);
			box-shadow: 0 0 0 pxToRem(3) cssVar(color-bg),
				pxToRem(4) pxToRem(4) 0 0 cssVar(color-shadow-lighter);
			position: absolute;
			top: pxToRem(-1); // box shadow size
			right: 0;
			bottom: 0;
			left: 0;
			margin-left: -1000%;
			z-index: -1;
		}
	}

	&__meta {
		margin-bottom: 0;
	}

	&__introduction {
		margin-top: cssVar(spacing-md);

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__body {
		overflow-x: hidden;
		padding: cssVar(spacing-md) 0 0;

		@include media("screen") {
			@include dimensions("lg") {
				padding: cssVar(spacing-lg) 0 0;
			}
		}

		&--front-page {
			padding: 0;
		}
	}

	&__footer {
		margin: cssVar(spacing-md) 0;

		@include media("screen") {
			@include dimensions("lg") {
				padding: cssVar(spacing-sm) 0 0;
			}
		}

		.meta {
			font-size: cssVar(font-size-md);

			&__item {
				border-right: pxToRem(1) solid cssVar(color-border);
				padding-right: cssVar(spacing-sm);

				@include media("screen") {
					@include dimensions("xs") {
						display: grid;
						column-gap: cssVar(spacing-sm);
						padding-right: cssVar(spacing-xl);
					}
				}

				&:last-child,
				&:only-child {
					border-right: none;
					margin-right: 0;
					padding-right: 0;
				}

				&:nth-child(2n) {
					margin-left: 0;
				}
			}
		}
	}

	&__aside {
		position: relative;

		&--first {
			margin-top: cssVar(spacing-md);

			@include media("screen") {
				@include dimensions("lg") {
					margin-top: cssVar(spacing-lg);
				}
			}

			.toc {
				ol,
				&__wrapper {
					margin-bottom: 0;
				}
			}
		}

		&--last {
			margin-bottom: cssVar(spacing-md);

			@include media("screen") {
				@include dimensions("xl") {
					margin-top: cssVar(spacing-lg);
				}
			}
		}
	}

	&__comments {
		background: cssVar(color-bg-secondary);
		border-top: pxToRem(1) solid cssVar(color-border-lighter);

		.comments {
			&__header {
				padding: cssVar(spacing-md) 0;

				@include media("screen") {
					@include dimensions("lg") {
						padding: cssVar(spacing-lg) 0;
					}
				}
			}

			&__list {
				margin-top: cssVar(spacing-md) 0;
			}

			&__form {
				padding: 0 0 cssVar(spacing-lg);

				@include media("screen") {
					@include dimensions("lg") {
						padding: 0 0 cssVar(spacing-xl);
					}
				}
			}
		}
	}
}

.no-comments {
	.page {
		&__body {
			@include media("screen") {
				@include dimensions("lg") {
					padding: cssVar(spacing-md) 0 cssVar(spacing-2xl);
				}
			}
		}
	}
}
