.main {
	background: cssVar(color-bg);
}

.article {
	border-bottom: pxToRem(1) solid cssVar(color-border-light);
	margin-bottom: cssVar(spacing-lg);
	padding-bottom: cssVar(spacing-xl);

	&__header {
		margin-bottom: cssVar(spacing-md);
	}

	&__body {
		display: flex;
		flex-flow: row wrap;
	}

	&__figure {
		margin: 0 auto cssVar(spacing-md);

		@include media("screen") {
			@include dimensions("sm") {
				order: 2;
				margin-left: cssVar(spacing-md);
				margin-top: cssVar(spacing-xs);
			}

			@include dimensions("xl") {
				margin-left: cssVar(spacing-xl);
			}
		}
	}

	&__image {
		max-height: pxToRem(150);
		width: auto;

		@include media("screen") {
			@include dimensions("sm") {
				max-width: pxToRem(250);
			}
		}
	}

	&__description {
		@include media("screen") {
			@include dimensions("sm") {
				flex: 1 1 calc(#{pxToRem(250)} - #{cssVar(spacing-md)}); // 100% - image width - spacing
				order: 1;
			}
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.page {
	&__header {
		background: cssVar(color-bg-secondary);
		border-top: pxToRem(2) solid cssVar(color-border-lighter);
		padding-bottom: cssVar(spacing-lg);
		position: relative;

		@include media("screen") {
			@include dimensions("lg") {
				padding-bottom: cssVar(spacing-lg);
			}
		}

		&::after {
			display: block;
			content: "";
			position: absolute;
			bottom: pxToRem(-30);
			left: 0;
			width: 100%;
			height: pxToRem(30);
			background-image: url(#{encodeSvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 130.427" preserveAspectRatio="none"><path d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_link-water}"/><path d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_catskill-white}"/></svg>')});
			background-repeat: repeat-x;
			background-size: 100% 100%;
			transform: rotate(180deg);
		}
	}

	&__title {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		max-width: 100%;
		padding: cssVar(spacing-3xs) cssVar(spacing-sm) cssVar(spacing-sm) 0;
		position: relative;
		margin-bottom: cssVar(spacing-lg);
		z-index: 1;

		@include media("screen") {
			@include dimensions("sm") {
				margin-bottom: cssVar(spacing-xl);
			}
		}

		&::before {
			display: block;
			content: "";
			background: cssVar(color-bg-secondary);
			border: solid cssVar(color-border-lighter);
			border-width: pxToRem(2) pxToRem(2) pxToRem(2) pxToRem(2);
			box-shadow: 0 0 0 pxToRem(10) cssVar(color-bg),
				pxToRem(12) pxToRem(12) 0 0 cssVar(color-border-lighter);
			position: absolute;
			top: pxToRem(-12); // box shadow size
			right: 0;
			bottom: 0;
			left: 0;
			margin-left: -1000%;
			z-index: -1;
		}
	}

	&__meta-feed {
		@include media("screen") {
			@include dimensions("sm") {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	&__meta {
		margin-bottom: 0;
	}

	&__feed-link {
		@include buttonBase;
		@include buttonStyle2;

		margin-top: cssVar(spacing-md);

		@include media("screen") {
			@include dimensions("sm") {
				margin-top: 0;
			}
		}

		&::before {
			content: "";
			background: url("assets/images/feed.svg");
			background-repeat: no-repeat;
			background-size: 100%;
			width: pxToRem(30);
			height: pxToRem(30);
			margin-right: cssVar(spacing-sm);
		}
	}

	&__introduction {
		margin-top: cssVar(spacing-md);

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__body {
		padding: cssVar(spacing-2xl) 0 0;

		&--single-page {
			padding: cssVar(spacing-lg) 0 0;

			@include media("screen") {
				@include dimensions("lg") {
					padding: cssVar(spacing-2xl) 0 0;
				}
			}
		}

		&--front-page {
			padding: cssVar(spacing-sm) 0 cssVar(spacing-md);

			@include media("screen") {
				@include dimensions("lg") {
					padding: cssVar(spacing-md) 0 cssVar(spacing-sm);
				}
			}
		}

		iframe {
			width: 100%;
			margin-bottom: cssVar(spacing-md);
		}

		.content-warning {
			border: pxToRem(3) solid cssVar(color-secondary);
			border-radius: pxToRem(3);
			margin-bottom: cssVar(spacing-md);
			padding: cssVar(spacing-sm);

			&__label {
				color: cssVar(color-secondary);
				font-weight: 700;
			}
		}

		.heading-warning {
			color: cssVar(color-secondary);
		}
	}

	&__footer {
		margin: cssVar(spacing-md) 0;

		@include media("screen") {
			@include dimensions("lg") {
				margin: cssVar(spacing-md) 0 cssVar(spacing-lg);
			}
		}

		.meta {
			font-size: cssVar(font-size-md);

			&__item {
				border-right: pxToRem(1) solid cssVar(color-border);
				padding-right: cssVar(spacing-sm);

				@include media("screen") {
					@include dimensions("xs") {
						display: grid;
						column-gap: cssVar(spacing-sm);
						padding-right: cssVar(spacing-xl);
					}
				}

				&:last-child,
				&:only-child {
					border-right: none;
					margin-right: 0;
					padding-right: 0;
				}

				&:nth-child(2n) {
					margin-left: 0;
				}
			}
		}
	}

	&__aside {
		position: relative;

		&--first {
			margin-top: cssVar(spacing-md);

			@include media("screen") {
				@include dimensions("lg") {
					margin-top: cssVar(spacing-2xl);
					padding-right: cssVar(spacing-lg);
				}

				@include dimensions("xl") {
					padding-right: 0;
				}
			}

			.toc {
				margin-top: cssVar(spacing-lg);

				@include media("screen") {
					@include dimensions("lg") {
						margin-top: 0;
					}
				}

				ol,
				&__wrapper {
					margin-bottom: 0;
				}
			}
		}

		&--last {
			margin-bottom: cssVar(spacing-xl);

			@include media("screen") {
				@include dimensions("lg") {
					padding-right: cssVar(spacing-lg);
				}

				@include dimensions("xl") {
					margin-top: cssVar(spacing-2xl);
					padding-right: 0;
				}
			}
		}
	}

	&__comments {
		background: cssVar(color-bg-secondary);
		padding: 0 0 cssVar(spacing-3xl);

		@include media("screen") {
			@include dimensions("lg") {
				padding: 0 0 cssVar(spacing-4xl);
			}

			@include dimensions("xl") {
				padding: 0 0 cssVar(spacing-5xl);
			}
		}
		position: relative;

		&::before {
			display: block;
			content: "";
			position: absolute;
			top: pxToRem(-30);
			left: 0;
			width: 100%;
			height: pxToRem(30);
			background-image: url(#{encodeSvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 130.427" preserveAspectRatio="none"><path d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_link-water}"/><path d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_catskill-white}"/></svg>')});
			background-repeat: repeat-x;
			background-size: 100% 100%;
			transform: rotateY(180deg);
		}

		.comments {
			&__header {
				padding: cssVar(spacing-lg) 0;
			}

			&__list {
				margin-top: cssVar(spacing-md) 0;
			}
		}
	}
}

[data-color-scheme="dark"] {
	.page {
		&__header {
			&::after {
				background-image: url(#{encodeSvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 130.427" preserveAspectRatio="none"><path d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_nile-blue}"/><path d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_big-stone}"/></svg>')});
			}
		}

		&__comments {
			&::before {
				background-image: url(#{encodeSvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 130.427" preserveAspectRatio="none"><path d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_nile-blue}"/><path d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{$color_big-stone}"/></svg>')});
			}
		}
	}
}

.no-comments {
	.page {
		&__body {
			&--single-page {
				padding-bottom: cssVar(spacing-md);
			}
		}
	}
}

.articles-list,
.no-comments {
	.page {
		&__body {
			@include media("screen") {
				@include dimensions("lg") {
					padding-bottom: cssVar(spacing-5xl);
				}
			}
		}

		&__aside {
			&--last {
				padding-bottom: cssVar(spacing-md);
			}
		}
	}
}
