@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.main {
	background: f.cssvar(color-bg);
}

.article {
	border-bottom: f.pxtorem(1) solid f.cssvar(color-border-light);
	margin-bottom: f.cssvar(spacing-lg);
	padding-bottom: f.cssvar(spacing-xl);

	&__header {
		margin-bottom: f.cssvar(spacing-md);
	}

	&__body {
		display: flex;
		flex-flow: row wrap;
	}

	&__figure {
		margin: 0 auto f.cssvar(spacing-md);

		@include m.media("screen") {
			@include m.dimensions("sm") {
				order: 2;
				margin-left: f.cssvar(spacing-md);
				margin-top: f.cssvar(spacing-xs);
			}

			@include m.dimensions("xl") {
				margin-left: f.cssvar(spacing-xl);
			}
		}
	}

	&__image {
		max-height: f.pxtorem(150);
		width: auto;

		@include m.media("screen") {
			@include m.dimensions("sm") {
				max-width: f.pxtorem(250);
			}
		}
	}

	&__description {
		@include m.media("screen") {
			@include m.dimensions("sm") {
				// basis = image width - spacing
				flex: 1 1 calc(#{f.pxtorem(250)} - #{f.cssvar(spacing-md)});
				order: 1;
			}
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.page {
	&__header {
		background: f.cssvar(color-bg-secondary);
		border-top: f.pxtorem(2) solid f.cssvar(color-border-lighter);
		padding-bottom: f.cssvar(spacing-lg);
		position: relative;

		@include m.media("screen") {
			@include m.dimensions("lg") {
				padding-bottom: f.cssvar(spacing-lg);
			}
		}

		&::after {
			display: block;
			content: "";
			position: absolute;
			bottom: f.pxtorem(-30);
			left: 0;
			width: 100%;
			height: f.pxtorem(30);
			background-image: url(#{f.encodesvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 130.427" preserveAspectRatio="none"><path d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{v.$color_link-water}"/><path d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{v.$color_catskill-white}"/></svg>')});
			background-repeat: repeat-x;
			background-size: 100% 100%;
			transform: rotate(180deg);
		}
	}

	&__title {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		max-width: 100%;
		padding: f.cssvar(spacing-3xs) f.cssvar(spacing-sm) f.cssvar(spacing-sm)
			0;
		position: relative;
		margin-bottom: f.cssvar(spacing-lg);
		z-index: 1;

		@include m.media("screen") {
			@include m.dimensions("sm") {
				margin-bottom: f.cssvar(spacing-xl);
			}
		}

		&::before {
			display: block;
			content: "";
			background: f.cssvar(color-bg-secondary);
			border: solid f.cssvar(color-border-lighter);
			border-width: f.pxtorem(2) f.pxtorem(2) f.pxtorem(2) f.pxtorem(2);
			box-shadow: 0 0 0 f.pxtorem(10) f.cssvar(color-bg),
				f.pxtorem(12) f.pxtorem(12) 0 0 f.cssvar(color-border-lighter);
			position: absolute;
			top: f.pxtorem(-12); // box shadow size
			right: 0;
			bottom: 0;
			left: 0;
			margin-left: -1000%;
			z-index: -1;
		}
	}

	&__meta {
		.feed {
			margin-top: f.cssvar(spacing-sm);

			@include m.media("screen") {
				@include m.dimensions("xs") {
					margin-top: 0;
				}
			}
		}
	}

	&__introduction {
		margin-top: f.cssvar(spacing-md);

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__body {
		padding: f.cssvar(spacing-2xl) 0 0;

		&--single-page {
			padding: f.cssvar(spacing-lg) 0 0;

			@include m.media("screen") {
				@include m.dimensions("lg") {
					padding: f.cssvar(spacing-2xl) 0 0;
				}
			}
		}

		&--front-page {
			padding: f.cssvar(spacing-sm) 0 f.cssvar(spacing-md);

			@include m.media("screen") {
				@include m.dimensions("lg") {
					padding: f.cssvar(spacing-md) 0 f.cssvar(spacing-sm);
				}
			}
		}

		iframe {
			width: 100%;
			margin-bottom: f.cssvar(spacing-md);
		}

		.content-warning {
			border: f.pxtorem(3) solid f.cssvar(color-secondary);
			border-radius: f.pxtorem(3);
			margin-bottom: f.cssvar(spacing-md);
			padding: f.cssvar(spacing-sm);

			&__label {
				color: f.cssvar(color-secondary);
				font-weight: 600;
			}
		}

		.heading-warning {
			color: f.cssvar(color-secondary);
		}
	}

	&__footer {
		margin: f.cssvar(spacing-md) 0;

		@include m.media("screen") {
			@include m.dimensions("lg") {
				margin: f.cssvar(spacing-md) 0 f.cssvar(spacing-lg);
			}
		}

		.meta {
			font-size: f.cssvar(font-size-md);
			margin-bottom: f.cssvar(spacing-lg);

			&__item {
				border-right: f.pxtorem(1) solid f.cssvar(color-border);
				padding-right: f.cssvar(spacing-sm);

				@include m.media("screen") {
					@include m.dimensions("xs") {
						display: grid;
						column-gap: f.cssvar(spacing-sm);
						padding-right: f.cssvar(spacing-xl);
					}
				}

				&:last-child,
				&:only-child {
					border-right: none;
					margin-right: 0;
					padding-right: 0;
				}

				&:nth-child(2n) {
					margin-left: 0;
				}
			}
		}
	}

	&__aside {
		position: relative;

		&--first {
			margin-top: f.cssvar(spacing-md);

			@include m.media("screen") {
				@include m.dimensions("lg") {
					margin-top: f.cssvar(spacing-2xl);
					padding-right: f.cssvar(spacing-lg);
				}

				@include m.dimensions("xl") {
					padding-right: 0;
				}
			}

			.toc {
				margin-top: f.cssvar(spacing-lg);

				@include m.media("screen") {
					@include m.dimensions("lg") {
						margin-top: 0;
					}
				}

				ol {
					margin-bottom: 0;
				}
			}
		}

		&--last {
			margin-bottom: f.cssvar(spacing-xl);

			@include m.media("screen") {
				@include m.dimensions("lg") {
					padding-right: f.cssvar(spacing-lg);
				}

				@include m.dimensions("xl") {
					margin-top: f.cssvar(spacing-2xl);
					padding-right: 0;
				}
			}
		}
	}

	&__comments {
		background: f.cssvar(color-bg-secondary);
		padding: 0 0 f.cssvar(spacing-3xl);

		@include m.media("screen") {
			@include m.dimensions("lg") {
				padding: 0 0 f.cssvar(spacing-4xl);
			}

			@include m.dimensions("xl") {
				padding: 0 0 f.cssvar(spacing-5xl);
			}
		}
		position: relative;

		&::before {
			display: block;
			content: "";
			position: absolute;
			top: f.pxtorem(-30);
			left: 0;
			width: 100%;
			height: f.pxtorem(30);
			background-image: url(#{f.encodesvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 130.427" preserveAspectRatio="none"><path d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{v.$color_link-water}"/><path d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{v.$color_catskill-white}"/></svg>')});
			background-repeat: repeat-x;
			background-size: 100% 100%;
			transform: rotateY(180deg);
		}

		.comments {
			&__header {
				padding: f.cssvar(spacing-lg) 0;
			}

			&__list {
				margin-top: f.cssvar(spacing-md) 0;
			}
		}
	}
}

[data-color-scheme="dark"] {
	.page {
		&__header {
			&::after {
				background-image: url(#{f.encodesvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 130.427" preserveAspectRatio="none"><path d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{v.$color_nile-blue}"/><path d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{v.$color_big-stone}"/></svg>')});
			}
		}

		&__comments {
			&::before {
				background-image: url(#{f.encodesvg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 130.427" preserveAspectRatio="none"><path d="M0 47.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{v.$color_nile-blue}"/><path d="M0 57.229c89.246-74 171.777-50.893 250 0 67.57 43.962 161.317 91.238 250 0v73.198H0z" fill="#{v.$color_big-stone}"/></svg>')});
			}
		}
	}
}

.no-comments {
	.page {
		&__body {
			&--single-page {
				padding-bottom: f.cssvar(spacing-md);
			}
		}
	}
}

.articles-list,
.no-comments {
	.page {
		&__body {
			@include m.media("screen") {
				@include m.dimensions("lg") {
					padding-bottom: f.cssvar(spacing-5xl);
				}
			}
		}

		&__aside {
			&--last {
				padding-bottom: f.cssvar(spacing-md);
			}
		}
	}
}

.category {
	.page__meta {
		@include m.media("screen") {
			@include m.dimensions("xs") {
				justify-content: space-between;
				align-items: center;
			}
		}
	}
}
