@use "../../abstracts/functions" as fun;
@use "../../abstracts/mixins" as mix;

.wp-block-columns {
	gap: fun.get-var(spacing-md);

	.wp-block-column {
		&:nth-child(2n) {
			margin-left: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}
