@use "../../abstracts/functions" as fun;
@use "../../abstracts/variables" as var;

.wp-block-pullquote {
	border-top: fun.convert-px(3) solid fun.get-var(color-primary);
	border-bottom: fun.convert-px(3) solid fun.get-var(color-primary);
	position: relative;

	&::before,
	&::after {
		content: "";
		background-color: fun.get-var(color-bg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 50%;
		width: fun.convert-px(10);
		height: fun.convert-px(10);
		padding: fun.get-var(padding-sm);
		position: absolute;
	}

	&::before {
		background-image: url(fun.encode-svg(
			'<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path fill="#{var.$color_chathams-blue-dark}" d="M92.92 6.932C66.667 24.926 54.277 42.92 54.277 63.864c0 17.7 9.735 29.204 24.19 29.204 11.209 0 19.173-7.67 19.173-17.994 0-10.325-7.964-17.404-19.469-17.404l-5.31.295c-.59.295-.885.295-1.18.295-1.18 0-1.77-.885-1.77-2.655 0-12.685 9.44-25.369 30.089-40.413zm-54.277 0C12.39 24.926 0 42.92 0 63.864c0 17.7 9.735 29.204 24.189 29.204 11.21 0 19.174-7.67 19.174-17.994 0-10.325-7.965-17.404-19.47-17.404l-5.309.295c-.59.295-.885.295-1.18.295-1.18 0-1.77-.885-1.77-2.655 0-12.685 12.095-29.204 30.089-40.413z"/></svg>'
		));
		top: calc(#{fun.convert-px(-10)} - (#{fun.get-var(padding-sm)} / 2));
		left: 5%;
	}

	&::after {
		background-image: url(fun.encode-svg(
			'<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path fill="#{var.$color_chathams-blue-dark}" d="M7.08 6.932C33.333 24.926 45.723 42.92 45.723 63.864c0 17.7-9.735 29.204-24.19 29.204-11.209 0-19.173-7.67-19.173-17.994 0-10.325 7.964-17.404 19.469-17.404l5.31.295c.59.295.885.295 1.18.295 1.18 0 1.77-.885 1.77-2.655 0-12.685-9.44-25.369-30.089-40.413zm54.277 0C87.61 24.926 100 42.92 100 63.864c0 17.7-9.735 29.204-24.189 29.204-11.21 0-19.174-7.67-19.174-17.994 0-10.325 7.965-17.404 19.47-17.404l5.309.295c.59.295.885.295 1.18.295 1.18 0 1.77-.885 1.77-2.655 0-12.685-12.095-29.204-30.089-40.413z"/></svg>'
		));
		bottom: calc(#{fun.convert-px(-10)} - (#{fun.get-var(padding-sm)} / 2));
		right: 5%;
	}

	blockquote {
		border: none;
		box-shadow: none;
		margin: 0;
		padding: 0;

		&::before {
			display: none;
		}
	}
}
