@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;

.comments__form {
	#cancel-comment-reply-link {
		@include m.buttonBase;
		@include m.buttonStyle2;

		font-family: f.cssvar(font-family-primary);
		margin: f.cssvar(spacing-sm) 0;

		@include m.media("screen") {
			@include m.dimensions("xs") {
				margin-left: f.cssvar(spacing-md);
			}
		}
	}
}

.comment-form {
	@include m.media("screen") {
		@include m.dimensions("sm") {
			max-width: 80%;
		}
	}

	&-cookies-consent {
		label {
			display: inline;
			text-transform: none;
			vertical-align: text-bottom;
		}
	}

	&__button {
		margin: auto;

		@include m.buttonStyle1;
	}

	label {
		margin-bottom: f.cssvar(spacing-3xs);
		text-align: left;
	}

	.required {
		color: f.cssvar(color-secondary);
	}
}
