.comments__form {
	#cancel-comment-reply-link {
		@include buttonBase;
		@include buttonStyle2;

		font-family: cssVar(font-family-primary);
		margin: cssVar(spacing-sm) 0;

		@include media("screen") {
			@include dimensions("xs") {
				margin-left: cssVar(spacing-md);
			}
		}
	}
}

.comment-form {
	@include media("screen") {
		@include dimensions("sm") {
			max-width: 80%;
		}
	}

	&-cookies-consent {
		label {
			display: inline;
			text-transform: none;
			vertical-align: text-bottom;
		}
	}

	&__button {
		margin: auto;
		@include buttonStyle1;
	}

	label {
		margin-bottom: cssVar(spacing-3xs);
		text-align: left;
	}

	.required {
		color: cssVar(color-secondary);
	}
}
