.comments__list {
	@include orderedListReset;

	margin-bottom: cssvar(spacing-md);

	.comments__form {
		background: cssvar(color-bg);
		border: pxtorem(1) solid cssvar(color-border-light);
		box-shadow: pxtorem(3) pxtorem(3) 0 0 cssvar(color-shadow-lighter),
			pxtorem(4) pxtorem(4) pxtorem(3) pxtorem(-2)
				cssvar(color-shadow-darker);
		margin: cssvar(spacing-sm) 0 0;
		padding: cssvar(spacing-md);

		@include media("screen") {
			@include dimensions("sm") {
				padding: cssvar(spacing-md) cssvar(spacing-xl);
			}
		}
	}

	li {
		margin: 0 0 cssvar(spacing-md);
	}
}

.comment {
	margin: 0 0 cssvar(spacing-md);

	&:last-child {
		margin-bottom: cssvar(spacing-md);
	}

	&__inner {
		background: cssvar(color-bg);
		border: pxtorem(1) solid cssvar(color-border-light);
		box-shadow: pxtorem(3) pxtorem(3) 0 0 cssvar(color-shadow-lighter),
			pxtorem(4) pxtorem(4) pxtorem(3) pxtorem(-2)
				cssvar(color-shadow-darker);
		padding: cssvar(spacing-md);
		position: relative;

		@include media("screen") {
			@include dimensions("sm") {
				display: grid;
				grid-template-columns: minmax(#{pxtorem(150)}, 1fr) minmax(
						0,
						85ch
					);
				column-gap: cssvar(spacing-md);
				padding: cssvar(spacing-sm) cssvar(spacing-md);
			}

			@include dimensions("lg") {
				column-gap: cssvar(spacing-xl);
			}
		}
	}

	&__header {
		@include media("screen") {
			@include dimensions("sm") {
				display: contents;
			}
		}
	}

	&__author {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		row-gap: cssvar(spacing-sm);

		@include media("screen") {
			@include dimensions("sm") {
				grid-row: 1 / 4;
				text-align: center;
				padding: cssvar(spacing-md) 0;
			}
		}
	}

	&__date {
		color: cssvar(color-fg-secondary);
		font-size: cssvar(font-size-sm);
		margin: cssvar(spacing-md) 0;
		display: grid;
		grid-template-columns: repeat(2, max-content);
		column-gap: cssvar(spacing-2xs);
		justify-content: center;

		@include media("screen") {
			@include dimensions("xs") {
				column-gap: cssvar(spacing-2xs);
				margin: cssvar(spacing-md) auto;
				width: max-content;
			}

			@include dimensions("sm") {
				margin: cssvar(spacing-md) 0;
			}
		}

		dt {
			grid-column: 1;
		}

		dd {
			grid-column: 2;
		}
	}

	&__body {
		overflow-wrap: break-word;

		@include media("screen") {
			@include dimensions("sm") {
				grid-column: 2;
				grid-row: 2;
			}
		}
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: cssvar(spacing-sm) 0;

		@include media("screen") {
			@include dimensions("sm") {
				grid-column: 2;
				grid-row: 3;
			}
		}
	}

	.author {
		&__avatar {
			background: cssvar(color-bg);
			max-width: clampthis(#{pxtorem(85)});

			.avatar {
				border-radius: pxtorem(3);
				box-shadow: 0 0 0 pxtorem(1) cssvar(color-shadow-dark),
					pxtorem(3) pxtorem(3) 0 0 cssvar(color-shadow-dark);
			}
		}

		&__name {
			font-weight: 600;
		}

		&__post {
			background: cssvar(color-primary);
			box-shadow: 0 0 0 pxtorem(1) cssvar(color-shadow-dark),
				pxtorem(2) pxtorem(2) 0 0 cssvar(color-shadow-dark);
			color: cssvar(color-fg-inverted);
			font-size: cssvar(font-size-sm);
			font-weight: 600;
			padding: pxtorem(3) cssvar(spacing-3xs);
			width: max-content;
		}
	}

	&__edit,
	&__reply {
		a {
			@include buttonBase;
			@include buttonStyle2;
		}
	}

	&__edit {
		margin-right: cssvar(spacing-sm);
	}

	&__awaiting-moderation {
		flex: 1 1 100%;
		color: cssvar(color-fg-tertiary);
		font-size: cssvar(font-size-sm);
		font-style: italic;
	}

	.children {
		padding-top: cssvar(spacing-sm);
		padding-left: cssvar(spacing-md);

		@include media("screen") {
			@include dimensions("lg") {
				padding-left: cssvar(spacing-2xl);
			}
		}

		.comment {
			margin: 0 0 cssvar(spacing-sm);
		}
	}
}
