@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;

.comments__list {
	@include m.orderedListReset;

	margin-bottom: f.cssvar(spacing-md);

	.comments__form {
		background: f.cssvar(color-bg);
		border: f.pxtorem(1) solid f.cssvar(color-border-light);
		box-shadow: f.pxtorem(3) f.pxtorem(3) 0 0 f.cssvar(color-shadow-lighter),
			f.pxtorem(4) f.pxtorem(4) f.pxtorem(3) f.pxtorem(-2)
				f.cssvar(color-shadow-darker);
		margin: f.cssvar(spacing-sm) 0 0;
		padding: f.cssvar(spacing-md);

		@include m.media("screen") {
			@include m.dimensions("sm") {
				padding: f.cssvar(spacing-md) f.cssvar(spacing-xl);
			}
		}
	}

	li {
		margin: 0 0 f.cssvar(spacing-md);
	}
}

.comment {
	margin: 0 0 f.cssvar(spacing-md);

	&:last-child {
		margin-bottom: f.cssvar(spacing-md);
	}

	&__inner {
		background: f.cssvar(color-bg);
		border: f.pxtorem(1) solid f.cssvar(color-border-light);
		box-shadow: f.pxtorem(3) f.pxtorem(3) 0 0 f.cssvar(color-shadow-lighter),
			f.pxtorem(4) f.pxtorem(4) f.pxtorem(3) f.pxtorem(-2)
				f.cssvar(color-shadow-darker);
		padding: f.cssvar(spacing-md);
		position: relative;

		@include m.media("screen") {
			@include m.dimensions("sm") {
				display: grid;
				grid-template-columns: minmax(#{f.pxtorem(150)}, 1fr) minmax(
						0,
						85ch
					);
				column-gap: f.cssvar(spacing-md);
				padding: f.cssvar(spacing-sm) f.cssvar(spacing-md);
			}

			@include m.dimensions("lg") {
				column-gap: f.cssvar(spacing-xl);
			}
		}
	}

	&__header {
		@include m.media("screen") {
			@include m.dimensions("sm") {
				display: contents;
			}
		}
	}

	&__author {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		row-gap: f.cssvar(spacing-sm);

		@include m.media("screen") {
			@include m.dimensions("sm") {
				grid-row: 1 / 4;
				text-align: center;
				padding: f.cssvar(spacing-md) 0;
			}
		}
	}

	&__date {
		color: f.cssvar(color-fg-secondary);
		font-size: f.cssvar(font-size-sm);
		margin: f.cssvar(spacing-md) 0;
		display: grid;
		grid-template-columns: repeat(2, max-content);
		column-gap: f.cssvar(spacing-2xs);
		justify-content: center;

		@include m.media("screen") {
			@include m.dimensions("xs") {
				column-gap: f.cssvar(spacing-2xs);
				margin: f.cssvar(spacing-md) auto;
				width: max-content;
			}

			@include m.dimensions("sm") {
				margin: f.cssvar(spacing-md) 0;
			}
		}

		dt {
			grid-column: 1;
		}

		dd {
			grid-column: 2;
		}
	}

	&__body {
		overflow-wrap: break-word;

		@include m.media("screen") {
			@include m.dimensions("sm") {
				grid-column: 2;
				grid-row: 2;
			}
		}
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: f.cssvar(spacing-sm) 0;

		@include m.media("screen") {
			@include m.dimensions("sm") {
				grid-column: 2;
				grid-row: 3;
			}
		}
	}

	.author {
		&__avatar {
			background: f.cssvar(color-bg);
			max-width: f.clampthis(#{f.pxtorem(85)});

			.avatar {
				border-radius: f.pxtorem(3);
				box-shadow: 0 0 0 f.pxtorem(1) f.cssvar(color-shadow-dark),
					f.pxtorem(3) f.pxtorem(3) 0 0 f.cssvar(color-shadow-dark);
			}
		}

		&__name {
			font-weight: 600;
		}

		&__post {
			background: f.cssvar(color-primary);
			box-shadow: 0 0 0 f.pxtorem(1) f.cssvar(color-shadow-dark),
				f.pxtorem(2) f.pxtorem(2) 0 0 f.cssvar(color-shadow-dark);
			color: f.cssvar(color-fg-inverted);
			font-size: f.cssvar(font-size-sm);
			font-weight: 600;
			padding: f.pxtorem(3) f.cssvar(spacing-3xs);
			width: max-content;
		}
	}

	&__edit,
	&__reply {
		a {
			@include m.buttonBase;
			@include m.buttonStyle2;
		}
	}

	&__edit {
		margin-right: f.cssvar(spacing-sm);
	}

	&__awaiting-moderation {
		flex: 1 1 100%;
		color: f.cssvar(color-fg-tertiary);
		font-size: f.cssvar(font-size-sm);
		font-style: italic;
	}

	.children {
		padding-top: f.cssvar(spacing-sm);
		padding-left: f.cssvar(spacing-md);

		@include m.media("screen") {
			@include m.dimensions("lg") {
				padding-left: f.cssvar(spacing-2xl);
			}
		}

		.comment {
			margin: 0 0 f.cssvar(spacing-sm);
		}
	}
}
