@use "convert" as fun;

/// Use CSS lock to define `clamp` values from a minimum size.
/// @param {String} $minSize The minimum size.
/// @param {Number} $multiplier Used to obtain max value from min size.
/// @param {Number} $minVw Min viewport size in px without unit.
/// @param {Number} $maxVw Max viewport size in px without unit.
/// @return {String} The `clamp` function.
@function set-clamp($minSize, $multiplier: 2, $minVw: 320, $maxVw: 1600) {
	$viewportDiff: $maxVw - $minVw;
	$maxSize: calc(#{$minSize} * #{$multiplier});
	$preferredSize: calc(
		#{$minSize} + calc((100vw - #{fun.convert-px($minVw)}) / #{$viewportDiff})
	);

	@return clamp(#{$minSize}, #{$preferredSize}, #{$maxSize});
}
