@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

form {
	position: relative;
}

form,
button,
input,
optgroup,
select,
textarea {
	max-width: 100%;
}

button,
input[type="submit"] {
	@include m.buttonBase;
}

label {
	display: block;
	cursor: pointer;
	color: f.cssvar(color-fg-secondary);
	font-size: f.cssvar(font-size-sm);
	text-transform: uppercase;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: f.cssvar(color-bg-tertiary);
	border: f.pxtorem(1) solid f.cssvar(color-border);
	box-shadow: f.pxtorem(4) f.pxtorem(4) 0 0 f.cssvar(color-shadow);
	color: f.cssvar(color-fg);
	padding: f.cssvar(spacing-sm);
	width: 100%;
	transition: all 0.2s ease-in 0s;

	&:hover {
		box-shadow: f.pxtorem(7) f.pxtorem(7) 0 0 f.cssvar(color-shadow);
		transform: translateX(#{f.pxtorem(-3)}) translateY(#{f.pxtorem(-3)});
	}

	&:focus {
		background: f.cssvar(color-bg);
		box-shadow: f.pxtorem(2) f.pxtorem(2) 0 0 f.cssvar(color-primary-light);
		outline: none;
		transform: translateX(#{f.pxtorem(2)}) translateY(#{f.pxtorem(2)});
	}

	&::placeholder {
		color: f.cssvar(color-fg-tertiary);
	}
}

input[type="checkbox"]:not(.toggle) {
	position: absolute;
	left: 0;
	opacity: 0.01;

	+ label {
		position: relative;
		padding-left: f.cssvar(spacing-md);
		cursor: pointer;
	}

	&:not(:checked),
	&:checked {
		+ label {
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: f.pxtorem(-2);
				width: f.pxtorem(20);
				height: f.pxtorem(20);
				background: f.cssvar(color-bg-tertiary);
				border-radius: f.pxtorem(3);
				border: f.pxtorem(1) solid f.cssvar(color-border);
				box-shadow: f.pxtorem(2) f.pxtorem(2) 0 0 f.cssvar(color-shadow);
				transition: all 0.3s ease-in-out 0s;
			}

			&::after {
				content: "\2715";
				speak: never;
				position: absolute;
				top: f.pxtorem(8);
				left: f.pxtorem(2);
				font-size: f.cssvar(font-size-lg);
				color: f.cssvar(color-primary);
				line-height: 0;
				transition: all 0.3s ease-in-out 0s;
			}
		}

		&:hover {
			+ label {
				&::before {
					box-shadow: f.pxtorem(4) f.pxtorem(4) 0 0
						f.cssvar(color-shadow);
					transform: translateX(#{f.pxtorem(-2)})
						translateY(#{f.pxtorem(-2)});
				}
			}
		}

		&:focus {
			+ label {
				&::before {
					background: f.cssvar(color-bg);
					box-shadow: 0 0 0 f.pxtorem(4)
							f.cssvar(color-primary-light-opacity),
						f.pxtorem(1) f.pxtorem(1) 0 0 f.cssvar(color-shadow);
					transform: translateX(#{f.pxtorem(1)})
						translateY(#{f.pxtorem(1)});
				}
			}
		}
	}

	&:not(:checked) {
		+ label {
			&::after {
				opacity: 0;
				transform: scale(0);
			}
		}
	}

	&:checked {
		+ label {
			&::after {
				opacity: 1;
				transform: scale(1);
			}
		}

		&:focus {
			+ label {
				&::after {
					top: f.pxtorem(9);
					left: f.pxtorem(3);
				}
			}
		}

		&:hover:not(:focus) {
			+ label {
				&::after {
					top: f.pxtorem(6);
					left: f.pxtorem(-1);
				}
			}
		}
	}
}

select {
	appearance: none;
	background-color: f.cssvar(color-bg-tertiary);
	background-image: url(f.encodesvg(
		'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M3.707 7L3 7.707l6.125 6.125L11 15.707l1.875-1.875L19 7.707 18.293 7l-6.125 6.125L11 14.293l-1.168-1.168L3.707 7" fill="#{v.$color_chathams-blue-dark}"/></svg>'
	));
	background-position: calc(100% - #{f.cssvar(spacing-sm)}) center;
	background-repeat: no-repeat;
	background-size: f.pxtorem(24);
	border: f.pxtorem(1) solid f.cssvar(color-border);
	box-shadow: f.pxtorem(4) f.pxtorem(4) 0 0 f.cssvar(color-shadow);
	color: f.cssvar(color-fg);
	cursor: pointer;
	padding: f.cssvar(spacing-sm);
	width: 100%;
	transition: all 0.3s ease-in-out 0s;

	&:hover {
		box-shadow: f.pxtorem(6) f.pxtorem(6) 0 0 f.cssvar(color-shadow);
		transform: translateX(#{f.pxtorem(-2)}) translateY(#{f.pxtorem(-2)});
	}

	&:focus {
		background-color: f.cssvar(color-bg);
		box-shadow: f.pxtorem(1) f.pxtorem(1) 0 f.pxtorem(5)
				f.cssvar(color-primary-light-opacity),
			f.pxtorem(2) f.pxtorem(2) 0 0 f.cssvar(color-shadow);
		outline: none;
		transform: translateX(#{f.pxtorem(2)}) translateY(#{f.pxtorem(2)});
	}
}

[data-color-scheme="dark"] {
	select {
		background-image: url(f.encodesvg(
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M3.707 7L3 7.707l6.125 6.125L11 15.707l1.875-1.875L19 7.707 18.293 7l-6.125 6.125L11 14.293l-1.168-1.168L3.707 7" fill="#{v.$color_spindle-dark}"/></svg>'
		));
	}
}

option {
	&:hover {
		background: f.cssvar(color-bg-secondary);
	}
}
