@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

ul,
ol,
dl {
	margin-bottom: f.cssvar(spacing-md);

	li {
		margin-bottom: f.cssvar(spacing-3xs);

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul,
	ol,
	dl {
		margin: 0;

		li {
			&:first-child {
				margin-top: f.cssvar(spacing-3xs);
			}
		}
	}

	::marker {
		color: f.cssvar(color-secondary);
	}
}

ul {
	padding-left: f.cssvar(spacing-sm);
}

ol {
	list-style-type: none;
	counter-reset: li;

	> li {
		display: table;
		counter-increment: li;

		&::before {
			content: counters(li, ".") ". ";
			color: f.cssvar(color-secondary);
			display: table-cell;
			padding-right: f.cssvar(spacing-2xs);
		}
	}

	li ol > li::before {
		content: counters(li, ".") ". ";
	}
}

dl {
	@include m.media("screen") {
		@include m.dimensions("xs") {
			display: grid;
			grid-template-columns: max-content auto;
			column-gap: f.cssvar(spacing-sm);
		}
	}
}

dt {
	font-weight: 600;

	@include m.media("screen") {
		@include m.dimensions("xs") {
			grid-column: 1;
		}
	}
}

dd {
	@include m.media("screen") {
		@include m.dimensions("xs") {
			grid-column: 2;
		}
	}
}
