audio,
img,
video {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

img {
	box-shadow: 0 0 pxToRem(1) 0 cssVar(color-shadow-light),
		pxToRem(4) pxToRem(4) pxToRem(4) 0 cssVar(color-shadow-light);
	transition: all 0.3s ease-in-out 0s;
}

[data-color-scheme="dark"] {
	img {
		filter: brightness(0.8) contrast(1.1);

		&:active {
			filter: none;
		}
	}
}

figure {
	max-width: 100%;
}

figcaption {
	display: block;
	color: cssVar(color-fg-tertiary);
	font-size: cssVar(font-size-sm);
	font-weight: 700;
	text-align: center;
	width: max-content;
	margin: cssVar(spacing-sm) auto 0;
}

a {
	&:hover,
	&:focus {
		img {
			box-shadow: 0 0 pxToRem(1) 0 cssVar(color-shadow-light),
				pxToRem(4) pxToRem(4) pxToRem(4) pxToRem(2)
					cssVar(color-shadow-light);
			transform: scale(1.05);
		}
	}

	&:focus {
		img {
			outline: cssVar(color-primary-light-opacity) solid pxToRem(4);
		}
	}

	&:active {
		img {
			box-shadow: 0 0 pxToRem(1) 0 cssVar(color-shadow-light),
				pxToRem(1) pxToRem(1) pxToRem(1) pxToRem(1)
					cssVar(color-shadow-light);
			outline: none;
			transform: scale(1);
		}
	}
}
