audio,
img,
video {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

img {
	box-shadow: 0 0 pxtorem(1) 0 cssvar(color-shadow-light),
		pxtorem(4) pxtorem(4) pxtorem(4) 0 cssvar(color-shadow-light);
	transition: all 0.3s ease-in-out 0s;
}

[data-color-scheme="dark"] {
	img {
		filter: brightness(0.8) contrast(1.1);

		&:active {
			filter: none;
		}
	}
}

figure {
	max-width: 100%;
}

figcaption {
	display: block;
	color: cssvar(color-fg-tertiary);
	font-size: cssvar(font-size-sm);
	font-weight: 600;
	text-align: center;
	width: auto;
	margin: cssvar(spacing-sm) auto 0;
}

a {
	&:hover,
	&:focus {
		img {
			box-shadow: 0 0 pxtorem(1) 0 cssvar(color-shadow-light),
				pxtorem(4) pxtorem(4) pxtorem(4) pxtorem(2)
					cssvar(color-shadow-light);
			transform: scale(1.05);
		}
	}

	&:focus {
		img {
			outline: cssvar(color-primary-light-opacity) solid pxtorem(4);
		}
	}

	&:active {
		img {
			box-shadow: 0 0 pxtorem(1) 0 cssvar(color-shadow-light),
				pxtorem(1) pxtorem(1) pxtorem(1) pxtorem(1)
					cssvar(color-shadow-light);
			outline: none;
			transform: scale(1);
		}
	}
}
