@use "../abstracts/functions" as f;

audio,
img,
video {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

img {
	box-shadow: 0 0 f.pxtorem(1) 0 f.cssvar(color-shadow-light),
		f.pxtorem(4) f.pxtorem(4) f.pxtorem(4) 0 f.cssvar(color-shadow-light);
	transition: all 0.3s ease-in-out 0s;
}

[data-color-scheme="dark"] {
	img {
		filter: brightness(0.8) contrast(1.1);

		&:active {
			filter: none;
		}
	}
}

figure {
	max-width: 100%;
}

figcaption {
	display: block;
	color: f.cssvar(color-fg-tertiary);
	font-size: f.cssvar(font-size-sm);
	font-weight: 600;
	text-align: center;
	width: auto;
	margin: f.cssvar(spacing-sm) auto 0;
}

a {
	&:hover,
	&:focus {
		img {
			box-shadow: 0 0 f.pxtorem(1) 0 f.cssvar(color-shadow-light),
				f.pxtorem(4) f.pxtorem(4) f.pxtorem(4) f.pxtorem(2)
					f.cssvar(color-shadow-light);
			transform: scale(1.05);
		}
	}

	&:focus {
		img {
			outline: f.cssvar(color-primary-light-opacity) solid f.pxtorem(4);
		}
	}

	&:active {
		img {
			box-shadow: 0 0 f.pxtorem(1) 0 f.cssvar(color-shadow-light),
				f.pxtorem(1) f.pxtorem(1) f.pxtorem(1) f.pxtorem(1)
					f.cssvar(color-shadow-light);
			outline: none;
			transform: scale(1);
		}
	}
}
