code,
kbd,
pre,
tt,
var {
	font-family: cssvar(font-family-mono);
}

pre {
	display: block;
	background: cssvar(color-bg-secondary);
	border: pxtorem(1) solid cssvar(color-border-light);
	border-radius: pxtorem(3);
	font-size: cssvar(font-size-md);
	max-width: 100%;
	overflow: auto;
	margin: 0 0 cssvar(spacing-md);
	padding: cssvar(spacing-sm);
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	@include media("screen") {
		@include dimensions("sm") {
			padding: cssvar(spacing-md);
		}
	}
}

code {
	background: cssvar(color-bg-tertiary);
	border: pxtorem(1) solid cssvar(color-border-light);
	box-decoration-break: clone;
	border-radius: pxtorem(3);
	color: cssvar(color-fg);
	padding: pxtorem(2) pxtorem(5) 0;
	word-wrap: break-word;
}

pre code {
	background: inherit;
	border: none;
	border-radius: 0;
	display: block;
	padding: 0;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	word-wrap: normal;
}
