@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

code,
kbd,
pre,
tt,
var {
	font-family: f.cssvar(font-family-mono);
}

pre {
	display: block;
	background: f.cssvar(color-bg-secondary);
	border: f.pxtorem(1) solid f.cssvar(color-border-light);
	border-radius: f.pxtorem(3);
	font-size: f.cssvar(font-size-md);
	max-width: 100%;
	overflow: auto;
	margin: 0 0 f.cssvar(spacing-md);
	padding: f.cssvar(spacing-sm);
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	@include m.media("screen") {
		@include m.dimensions("sm") {
			padding: f.cssvar(spacing-md);
		}
	}
}

code {
	background: f.cssvar(color-bg-tertiary);
	border: f.pxtorem(1) solid f.cssvar(color-border-light);
	box-decoration-break: clone;
	border-radius: f.pxtorem(3);
	color: f.cssvar(color-fg);
	padding: f.pxtorem(2) f.pxtorem(5) 0;
	word-wrap: break-word;
}

pre code {
	background: inherit;
	border: none;
	border-radius: 0;
	display: block;
	padding: 0;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	word-wrap: normal;
}
