h1,
h2,
h3,
h4,
h5,
h6,
.greetings {
	color: cssvar(color-fg-secondary);
	font-family: cssvar(font-family-secondary);
	font-weight: 500;
	margin: 0 0 cssvar(spacing-md);
}

h1,
.greetings {
	font-size: cssvar(font-size-3xl);
}

h2 {
	font-size: cssvar(font-size-2xl);
}

h3 {
	font-size: cssvar(font-size-xl);
}

h4 {
	font-size: cssvar(font-size-lg);
}

h5 {
	font-size: cssvar(font-size-md);
}

h6 {
	font-size: cssvar(font-size-md);
	font-weight: 600;
}

p {
	margin: 0 0 cssvar(spacing-md);
}

hr {
	margin: cssvar(spacing-md) 0;
}

small {
	font-size: cssvar(font-size-sm);
}
